<mat-toolbar color="primary">
    <span>ACHAT</span>
    <span class="spacer"></span>
  </mat-toolbar>
  
  <div>
    <mat-card class="agency-card">
      <mat-card-header>
        <mat-card-title class="main-title">🏢 Agence Foncière d'Habitation (AFH)</mat-card-title>
        <mat-card-subtitle class="subtitle">Immobilier à Tunis</mat-card-subtitle>
      </mat-card-header>
    
      <mat-card-content>
        <section class="section">
          <p class="description">
            L’A.F.H est une entreprise publique dotée de la personnalité civile et de l’autonomie financière. Elle aménage des lotissements et contribue à un environnement urbain sain. Elle œuvre à créer des villes modernes, adaptées aux mutations culturelles et économiques, et a su :
          </p>
          <ul>
            <li>Mettre en œuvre les orientations nationales en matière d’habitat et d’urbanisme ;</li>
            <li>Créer des conditions favorables au logement et à l’économie.</li>
          </ul>
        </section>
    
        <mat-divider></mat-divider>
    
        <section class="section info">
          <mat-icon color="accent">location_on</mat-icon>
          <span><strong>Adresse :</strong> R5WQ+JQX, Av. Hedi Karray, Tunis</span>
        </section>
    
        <section class="section info">
          <mat-icon color="accent">access_time</mat-icon>
          <span><strong>Horaires :</strong> Lundi au Vendredi, 08:00–17:30</span>
        </section>
    
        <section class="section info">
          <mat-icon color="accent">phone</mat-icon>
          <span><strong>Téléphone :</strong> 71 234 033 / 71 238 129</span>
        </section>
    
        <section class="section info">
          <mat-icon color="accent">missed_video_call</mat-icon>
          <span>
            <strong>Démonstration de l'application ACHAT :</strong>
            <a href="javascript:void(0)" (click)="openModal()">     Voir la démonstration(bientot)</a>
          </span>
        </section>
    
        <section class="section info">
          <mat-icon color="accent">description</mat-icon>
          <span>
            <strong>Guide de l'application ACHAT :</strong>
            <a href="../../assets/file/Documentation-GESCOMP.docx" download>    Télécharger le guide de l'application</a>
          </span>
        </section>
    
        <mat-divider></mat-divider>
    
        <section class="section map">
          <mat-icon color="accent">location_on</mat-icon>
          <span><strong>Localisation :</strong> Agence Foncière d'Habitation (AFH)</span>
        </section>
    
        <div class="map">
          <app-map></app-map>
        </div>
      </mat-card-content>
    </mat-card>
    
    
  </div>

   <div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">×</span>
  
       Utilisation d'une balise video pour une vidéo locale 
      <video width="1650" height="800" controls>
        <source src="../../assets/file/2024-11-26_06-37-24.mp4" type="video/mp4" />
        Votre navigateur ne supporte pas la vidéo HTML5.
      </video>
    </div>
  </div>
 
  
