<mat-toolbar color="primary">
  <span>Liste des Articles</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="generatePDF()">Generation du PDF des articles</button>
  <button mat-raised-button (click)="openAddEditDialog()">Ajouter un article</button>
</mat-toolbar>

<div class="main-body">
  <!-- Conteneur pour le spinner -->
  <div class="overlay" *ngIf="(_spinnerService.spinnerCounter$ | async) > 0">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Conteneur pour les messages d'erreur -->
  <div class="error-message" *ngIf="loadingError">
    {{ loadingError }}
  </div>

  <!-- Conteneur principal des filtres et des articles -->
  <div class="filter-container">
    <mat-form-field>
      <mat-label>Rechercher par Numéro Article</mat-label>
      <input matInput (keyup)="applyFilterNumArticle($event)" placeholder="Rechercher par Numéro Article">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rechercher par Désignation francaise</mat-label>
      <input matInput (keyup)="applyFilterDesignationFr($event)" placeholder="Rechercher par Désignation francaise">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Rechercher par Secteur</mat-label>
      <input matInput (keyup)="applyFilterSecteurDesignation($event)" placeholder="Rechercher par Désignation Secteur" [(ngModel)]="secteurDesignation">
    </mat-form-field>

 
    <mat-form-field>
      <mat-label>Rechercher par Sous secteur</mat-label>
      <input matInput (keyup)="applyFilterSousSecteurDesignation($event)" placeholder="Rechercher par Désignation Sous Secteur"  [(ngModel)]="ssecteurDesignation" [disabled]="!secteurDesignation">
    </mat-form-field> 

    <mat-form-field>
      <mat-label>Rechercher par Famille</mat-label>
      <input matInput (keyup)="applyFilterFamilleDesignation($event)" placeholder="Rechercher par Désignation Famille" [(ngModel)]="familleDesignation" [disabled]="!ssecteurDesignation">
    </mat-form-field> 

    <mat-form-field>
      <mat-label>Rechercher par Sous famille</mat-label>
      <input matInput (keyup)="applyFilterSousFamilleDesignation($event)" placeholder="Rechercher par Désignation Sous Famille" [(ngModel)]="ssFamilleDesignation" [disabled]="!familleDesignation">
    </mat-form-field> 


  </div>

  <!-- Conteneur pour le tableau des articles -->
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Définition des colonnes de la table -->
      <ng-container matColumnDef="numArticle">
        <th class="centered-cell" mat-header-cell *matHeaderCellDef >Article</th>
        <td class="centered-cell" mat-cell *matCellDef="let element">{{ element.numArticle }}</td>
      </ng-container>

      <!-- Répétez ce modèle pour chaque colonne comme vous l'avez fait -->
      <ng-container matColumnDef="numSectEco">
        <th class="centered-cell" mat-header-cell *matHeaderCellDef >Secteur</th>
        <td class="centered-cell" mat-cell *matCellDef="let element">{{ element.numSectEco }}</td>
      </ng-container>

      <ng-container matColumnDef="numSSectEco">
        <th class="centered-cell" mat-header-cell *matHeaderCellDef >Sous-Secteur</th>
        <td class="centered-cell" mat-cell *matCellDef="let element">{{ element.numSSectEco }}</td>
      </ng-container>


      <ng-container matColumnDef="numFamille">
        <th class="centered-cell"  mat-header-cell *matHeaderCellDef >Famille</th>
        <td class="centered-cell"  mat-cell *matCellDef="let element">{{ element.numFamille }}</td>
      </ng-container>

      <ng-container matColumnDef="numSFamille">
        <th class="centered-cell1" mat-header-cell *matHeaderCellDef >Sous-Famille</th>
        <td class="centered-cell1" mat-cell *matCellDef="let element">{{ element.numSFamille }}</td>
      </ng-container>

      <ng-container matColumnDef="libUnite">
        <th class="centered-cell" mat-header-cell *matHeaderCellDef>Lib Unité</th>
        <td class="centered-cell" mat-cell *matCellDef="let element">{{ element.libUnite }}</td>
      </ng-container>

      <ng-container matColumnDef="designation">
        <th class="centered-cell" mat-header-cell *matHeaderCellDef>Désignation</th>
        <td class="centered-cell" mat-cell *matCellDef="let element">{{ element.designation }}</td>
      </ng-container>

  <!--     <ng-container matColumnDef="historique">
        <th class="centered-cell" mat-header-cell *matHeaderCellDef>Historique</th>
        <td class="centered-cell" mat-cell *matCellDef="let element">{{ element.historique }}</td>
      </ng-container> -->

      <ng-container matColumnDef="tva">
        <th class="centered-cell" mat-header-cell *matHeaderCellDef>TVA</th>
        <td class="centered-cell" mat-cell *matCellDef="let element">{{ element.tva }}</td>
      </ng-container>

      <ng-container matColumnDef="designationFr">
        <th class="centered-cell" mat-header-cell *matHeaderCellDef>Désignation Francaise</th>
        <td class="centered-cell" mat-cell *matCellDef="let element">{{ element.designationFr }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th class="centered-cell" mat-header-cell *matHeaderCellDef>Actions</th>
        <td class="centered-cell" mat-cell *matCellDef="let element">
          <ul class="list-inline m-0">
            <li class="list-inline-item">
              <button (click)="openEditForm(element)" class="btn btn-success" type="button" data-toggle="tooltip" data-placement="top" title="Edit">
                <i class="fa fa-edit"></i>
              </button>
            </li>
            <li class="list-inline-item">
              <button (click)="openConfirmDialog(element.numArticle)" class="btn btn-danger" type="button" data-toggle="tooltip" data-placement="top" title="Delete">
                <i class="fa fa-trash"></i>
              </button>
            </li>
            <li class="list-inline-item">
              <button (click)="generatePDFArticle(element.numArticle)" class="btn btn-primary" type="button" data-toggle="tooltip" data-placement="top" title="PDF">
                <i class="fas fa-file-pdf"></i>PDF
              </button>
            </li>
          </ul>
        </td>
      </ng-container>

      <!-- Définition des lignes du tableau -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>
  </div>
</div>
