
.content {
    padding: 16px; /* Réduit l'espace intérieur du conteneur */
    max-width: 500px; /* Définit une largeur maximale pour le conteneur */
    max-height: 800px; /* Définit une hauteur maximale pour le conteneur */
    overflow-y: hidden;
  }
  
  .row {
    display: flex;
    gap: 10px;
  
    mat-form-field {
      width: 100%;
    }
  }
  
  .action {
    padding: 0px 25px 20px;
    button {
      flex: 1;
    }
  }

  .radio-field {
    display: flex;
    align-items: center;
  
    .mat-radio-group {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  
    .mat-radio-button {
      margin-right: 90px; /* Ajustez l'espace entre les options */
    }
  }
  