<div mat-dialog-title style="margin: 0px 104px 0px;">
  <h1 style="margin-left: -39px;">Paramétrage Article</h1>
</div>
<form [formGroup]="articleForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="fill" *ngIf="isEditMode">
        <mat-label>Numero Article</mat-label>
        <input matInput type="text" placeholder="Numero Article" formControlName="numArticle" [attr.disabled]="true">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Secteur</mat-label>
        <mat-select formControlName="numSectEco" (selectionChange)="onSecteurChange($event)"  [attr.disabled]="isEditMode ? true : null">
          <mat-option *ngFor="let secteur of secteurs" [value]="secteur.numSectEco">{{ secteur.designation }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Sous secteur</mat-label>
        <mat-select formControlName="numSSectEco" (selectionChange)="onSousSecteurChange($event)"  [attr.disabled]="isEditMode ? true : null">
          <mat-option *ngFor="let sousSecteur of sousSecteurs" [value]="sousSecteur.numSSectEco">{{ sousSecteur.designation }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Famille</mat-label>
        <mat-select formControlName="numFamille" (selectionChange)="onFamilleChange($event)"  [attr.disabled]="isEditMode ? true : null">
          <mat-option *ngFor="let famille of familles" [value]="famille.numFamille">{{ famille.designation }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Sous famille</mat-label>
        <mat-select formControlName="numSFamille"  [attr.disabled]="isEditMode ? true : null">
          <mat-option *ngFor="let sousFamille of sousFamilles" [value]="sousFamille.numSFamille">{{ sousFamille.designation }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Unite</mat-label>
        <input matInput type="text" placeholder="Unite" formControlName="libUnite">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>TVA</mat-label>
        <input matInput type="number" placeholder="TVA" formControlName="tva">
        <mat-error *ngIf="articleForm.get('tva')?.hasError('min')">
          La TVA doit être supérieure ou égale à 0.
        </mat-error>
        <mat-error *ngIf="articleForm.get('tva')?.hasError('max')">
          La TVA doit être inférieur ou égale à 99.99.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Designation</mat-label>
        <input matInput type="text" placeholder="Designation" formControlName="designation">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Designation Fr</mat-label>
        <input matInput type="text" placeholder="Designation Fr" formControlName="designationFr">
      </mat-form-field>

       <div class="radio-field">
        <mat-label>Historique</mat-label>
        <mat-radio-group formControlName="historique" aria-label="Select an option">
        <mat-radio-button value=1>Un</mat-radio-button>
        <mat-radio-button value=0>Zero</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>

  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Annuler</button>
    <button mat-raised-button color="primary" [disabled]="articleForm.get('tva')?.invalid" type="submit">{{data ? 'Update' : 'Save'}}</button>
  </div>
</form>
