<div mat-dialog-title>
    <h1>Paramétrage Type de garantie</h1>
  </div>
  <form [formGroup]="typeGarantieForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Designation type de garantie</mat-label>
        <input matInput type="text" placeholder="Designation type de garantie" formControlName="designation">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Annuler</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
  </div>
</form>
  