<div mat-dialog-title>
    <h1>Paramétrage Fournisseur</h1>
  </div>
  <form [formGroup]="fournForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Numero Fournisseur</mat-label>
        <input matInput type="text" placeholder="Numero Fournisseur" formControlName="numFourn">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Code du Pays</mat-label>
        <input matInput type="text" placeholder="Code du Pays" formControlName="codePays">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Numero du gouvernorat</mat-label>
        <input matInput type="text" placeholder="Numero du gouvernorat" formControlName="numGouv">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Designation</mat-label>
        <input matInput type="text" placeholder="Designation" formControlName="designation">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Contact</mat-label>
        <input matInput type="text" placeholder="Contact" formControlName="contact">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Adresse</mat-label>
        <input matInput type="text" placeholder="Adresse" formControlName="adresse">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ville</mat-label>
        <input matInput type="text" placeholder="Ville" formControlName="ville">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Code Postal</mat-label>
        <input matInput type="text" placeholder="Code Postal" formControlName="codePostal">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Tel</mat-label>
        <input matInput type="text" placeholder="Tel" formControlName="tel">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Fax</mat-label>
        <input matInput type="text" placeholder="Fax" formControlName="fax">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="text" placeholder="Email" formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Web</mat-label>
        <input matInput type="text" placeholder="Web" formControlName="web">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>StructCap</mat-label>
        <input matInput type="text" placeholder="StructCap" formControlName="structCap">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Activite</mat-label>
        <input matInput type="text" placeholder="Activite" formControlName="activite">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>RCS</mat-label>
        <input matInput type="text" placeholder="RCS" formControlName="rcs">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Mat Cnss</mat-label>
        <input matInput type="text" placeholder="Mat Cnss" formControlName="matCnss">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Designation Fr</mat-label>
        <input matInput type="text" placeholder="Designation Fr" formControlName="designationFr">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Mat Fiscale</mat-label>
        <input matInput type="text" placeholder="Mat Fiscale" formControlName="matriculeFisc">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Fournisseur Fin</mat-label>
        <input matInput type="text" placeholder="Fournisseur Fin" formControlName="finFourn">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Annuler</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
  </div>
</form>
  