<mat-dialog-content style="overflow-y: hidden;">
    <h2 mat-dialog-title>Inscription Utilisateur</h2>
    
    <form [formGroup]="inscriptionForm"  class="form-container">
      <div class="form-group">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Matricule</mat-label>
          <input type="number" matInput formControlName="matricule" placeholder="Entrez votre matricule" />
          <mat-error *ngIf="inscriptionForm.get('matricule').hasError('required') && inscriptionForm.get('matricule').touched">
            Le matricule est obligatoire
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="form-group">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="nom" placeholder="Entrez votre nom" />
          <mat-error *ngIf="inscriptionForm.get('nom').hasError('required') && inscriptionForm.get('nom').touched">
            Le nom est obligatoire
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="form-group">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="prenom" placeholder="Entrez votre prénom" />
          <mat-error *ngIf="inscriptionForm.get('prenom').hasError('required') && inscriptionForm.get('prenom').touched">
            Le prénom est obligatoire
          </mat-error>
        </mat-form-field>
      </div>
  
      <div class="form-group">
        <mat-form-field appearance="fill" style="width: 96%;">
          <mat-label>Structure</mat-label>
          <mat-select formControlName="structure" (selectionChange)="onStructureSelect($event)">
            <ngx-mat-select-search
              [formControl]="structureFilterCtrl"
              placeholderLabel="Rechercher une structure..."
              noEntriesFoundLabel="Aucune structure trouvée">
            </ngx-mat-select-search>
          
            <mat-option *ngFor="let structure of filteredStructures | async" [value]="structure.numStruct">
              {{ structure.designation }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="inscriptionForm.get('structure').hasError('required') && inscriptionForm.get('structure').touched && inscriptionForm.get('structure').invalid">
            La structure est obligatoire
          </mat-error>
        </mat-form-field>
        <button mat-fab (click)="resetStructureSelection()" style="margin-left: 2px; margin-top: -4px;">
          <mat-icon>delete</mat-icon>
        </button> 
      </div>
  
      <div class="form-group">
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Entrez votre mot de passe" />
          <mat-error *ngIf="inscriptionForm.get('password').hasError('required') && inscriptionForm.get('password').touched">
            Le mot de passe est obligatoire
          </mat-error>
          <mat-error *ngIf="inscriptionForm.get('password').hasError('minlength') && inscriptionForm.get('password').touched">
            Le mot de passe doit comporter au moins 3 caractères
          </mat-error>
        </mat-form-field>
      </div>
      <div  >
        <ng-container *ngIf="isSignupFailed" style="height: 46px; margin-bottom: 200px;">
          <div class="alert alert-danger" role="alert" style="margin-block: -34px;">
            Inscription échouée: {{ message }}
          </div>
        </ng-container>
      </div>
    </form>
  </mat-dialog-content>
    
  <mat-dialog-actions>
    <div class="button-container">
      <button mat-raised-button style="width: 60%;" (click)="onNoClick()">Fermer</button>
      <button mat-raised-button color="primary" style="width: 600px;" [disabled]="inscriptionForm.invalid" (click)="onSignup()">Inscription</button>
    </div>
  </mat-dialog-actions>
  