<mat-dialog-content>
  <h2 mat-dialog-title>Gestion des Marchés</h2>
  <div class="overlay" *ngIf="(_spinnerService.spinnerCounter$ | async) > 0">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="error-message" *ngIf="loadingError">
    {{ loadingError }}
  </div>

  <form [formGroup]="mrcArticleForm">

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedIndexChange)="selectedIndexChange($event)"
      [selectedIndex]="selectedIndex" #matGroup>

      <mat-tab label="Rubrique Affectation des articles">
        <br>
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>Affectation des articles
              <button class="btn btn-primary" type="button" (click)="addMrcArticle()">+
              </button>
            </mat-card-title>
          </mat-card-header>
          <br>
          <mat-card-content>
            <div formArrayName="MrcArticles" class="table-responsive-marche-Article"  >
              <table class="table table-striped" style="overflow-y: hidden; margin-bottom: 10px;">
                <thead>
                  <tr>
                    <th colspan="12" class="header-marche-lot-beauty">
                      <div class="header-content-beauty">
                        <span class="label">Numéro Marché :</span> 
                        <span class="value">{{ numMarche }}</span> 
                        <span class="separator">|</span> 
                        <span class="label">Numéro Lot :</span> 
                        <span class="value">{{ idLot }}</span>
                      </div>
                    </th>
                  </tr>                  
                  <tr *ngIf="!MrcArticles.errors?.['auMoinsUnMrcArticle']">
                    <th scope="col" style="padding-right: 0px;"></th>
                    <th scope="col">Article</th> 
                    <th scope="col">Code Article</th>
                    <th scope="col">Num Article/Designation</th>
                    <th scope="col">Type Série</th>
                    <th scope="col">Prix Unitaire</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Description</th>
                    <th scope="col">TVA</th>
                    <th scope="col">Appro</th>
                    <th scope="col">Prix fourniture</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let MrcArticle of MrcArticles.controls; let i = index ;">
                  <tr  [formGroupName]="i" class="text-center" >
                    <td>
                      <button mat-icon-button (click)="toggleRowExpansion(i)" *ngIf="!MrcArticles.controls[i].get('isNew')?.value">
                        <mat-icon>{{ isRowExpanded(i) ? '-' : '+'}} </mat-icon>
                      </button>
                    </td>
                      <td [formGroupName]="'id'">
                      <mat-form-field appearance="outline" style="width: 70px;">
                        <mat-label>Article</mat-label>
                        <input matInput formControlName="idArticle" readonly />
                      </mat-form-field>
                    </td>  
                    <td>
                      <mat-form-field appearance="outline" class="full-width" style="width: 150px;">
                        <mat-label>Code Article</mat-label>
                        <input matInput formControlName="codeArticle"  type="text"/>
                      </mat-form-field>
                    </td>
                    
                    <td [formGroupName]="'numArticle'" style="padding-block: 2px;" >

                      <!-- Si ancien article : mat-select dans mat-form-field -->
                      <ng-container *ngIf="!MrcArticle.get('isNew')?.value; else newArticleField">
                        <mat-form-field appearance="outline" style="width: 400px;">
                          <mat-label>Désignation Article</mat-label>
                          <mat-select formControlName="numArticle">
                            <mat-option *ngFor="let option of numArticlesOptionsForExistingMrcArticle" [value]="option.numArticle">
                              {{ option.numArticle + ' | ' + (option.designationFr || option.designation) }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </ng-container>
                    
                      <!-- Champ pour NOUVEAU article -->
                      <ng-template #newArticleField>
                        <mat-form-field appearance="outline" style="width: 400px;">
                          <mat-label>Désignation Article</mat-label>
                          <input matInput readonly
                                 (click)="openArticleSelectionDialog(i)"
                                 [value]="(MrcArticle.get('numArticle')?.get('numArticle')?.value || '') + ' ' + (MrcArticle.get('numArticle')?.get('designation')?.value  || MrcArticle.get('numArticle')?.get('designationFr')?.value || '')"
                                 placeholder="Cliquer pour choisir un article"
                                 style="cursor: pointer;">
                        </mat-form-field>
                      </ng-template>
                    
                      <!-- BOUTON SUPPRIMER -->
                      <button mat-fab (click)="resetDesignationArticleSelection(i)"
                      style="width: 37px; padding-bottom: 7px; margin-left: 4px; margin-top: 0px;"
                              [disabled]="!MrcArticle.get('numArticle')?.get('numArticle')?.value || !MrcArticle.get('isNew')?.value">
                        <mat-icon>delete</mat-icon>
                      </button>
                    
                    </td>                    
                    
                    <td style="padding-block: 2px;">
                      <mat-form-field appearance="outline" style="width: 210px; height: 50px;">
                        <mat-label>Type Série</mat-label>
                        <mat-select formControlName="idTypeSerie" (selectionChange)="onPrmTypeSerieSelect($event.value)"
                          class="large-select">
                          <mat-option *ngFor="let prm_type_serie of prm_type_series" [value]="prm_type_serie.id">
                            {{ prm_type_serie.designation }}
                          </mat-option>
                          <mat-option *ngIf="isLoading" disabled>
                            <div style="display: flex; justify-content: center; padding: 10px;">
                              <mat-spinner diameter="20"></mat-spinner>
                            </div>
                          </mat-option>
                        </mat-select>
                        <mat-error 
                        *ngIf="MrcArticles.at(i).get('idTypeSerie')?.invalid && 
                               (MrcArticles.at(i).get('idTypeSerie')?.dirty || 
                                MrcArticles.at(i).get('idTypeSerie')?.touched)">
                        <span *ngIf="MrcArticles.at(i).get('idTypeSerie')?.hasError('required')">
                           Type Serie est requis pour cet article.
                        </span>
                      </mat-error>
                      </mat-form-field>
                      <button mat-fab [disabled]="!MrcArticle.get('idTypeSerie')?.value"
                        (click)="resetPrmTypeSerieSelection(i)"
                        style="width: 37px; padding-bottom: 7px; margin-left: 4px; margin-top: 0px;">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                    <td style="padding-block: -1px;">
                      <mat-form-field appearance="outline" style="width: 100px;">
                        <mat-label>Prix Unitaire</mat-label>
                        <input matInput type="number" formControlName="prixUnitaire" placeholder="Prix Unitaire" />
                      </mat-form-field>
                    </td>
                    <td  style="padding-block: -1px;">
                      <mat-form-field appearance="outline" style="width: 100px;">
                        <mat-label>Quantité</mat-label>
                        <input matInput type="number" formControlName="quantite" placeholder="Quantité" />
                      </mat-form-field>
                    </td>
                    <td style="padding-block: -1px;">
                      <mat-form-field appearance="outline" class="full-width" style="width: 150px;">
                        <mat-label>Description</mat-label>
                        <input matInput formControlName="description" />
                      </mat-form-field>
                    </td>
                    <td style="padding-block: -1px;">
                      <mat-form-field appearance="outline"  style="width: 100px;">
                        <mat-label>TVA</mat-label>
                        <input matInput type="number" formControlName="tva" />
                        <mat-error style="margin-block: -25px; margin-left: -18px;" *ngIf="MrcArticle.get('tva').invalid && (MrcArticle.get('tva').touched || MrcArticle.get('tva').dirty)">
                          <div *ngIf="MrcArticle.get('tva').errors?.['min'] || MrcArticle.get('tva').errors?.['max']">
                            Le pourcentage doit être entre 0 et 99,99.
                          </div>
                        </mat-error>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-slide-toggle style="margin-block: 17px;" formControlName="chAp" (change)="onCheckboxChange(i, $event.checked)">
                        Appro
                      </mat-slide-toggle>
                    </td>
                    <td style="padding-block: -1px;">
                      <mat-form-field appearance="outline" class="full-width" style="width: 150px;">
                        <mat-label>Prix fourniture</mat-label>
                        <input matInput type="number" formControlName="prixFourniture" />
                        <mat-error 
                        *ngIf="MrcArticles.at(i).get('prixFourniture')?.invalid && 
                               (MrcArticles.at(i).get('prixFourniture')?.dirty || 
                                MrcArticles.at(i).get('prixFourniture')?.touched)">
                        <span *ngIf="MrcArticles.at(i).get('prixFourniture')?.hasError('required')">
                          Prix fourniture requis.
                        </span>
                        </mat-error>
                      </mat-form-field>
                    </td>
                    <td>
                      <button mat-raised-button color="warn" style="width: 0px; margin-block: 10px;" type="button"
                        [matTooltip]="i < MrcArticles.length - 1 ? 'Vous devez supprimer le dernier Marche/Article pour supprimer celui-ci.' : ''"
                        matTooltipPosition="left"
                        (click)="i < MrcArticles.length - 1 ? null : openConfirmArticleDialog(i)">
                        <mat-icon style="margin-left: 10px;">delete</mat-icon>
                      </button>
                    </td>
                 
                  </tr>
                  <tr *ngIf="isRowExpanded(i)" class="text-center">
                    <td colspan="10" class="expanded-content">
                      <!-- Conteneur pour centrer le tableau -->
                      <div class="centered-table">
                        <table class="table table-striped" style="overflow-y: hidden; margin-bottom: 10px;">
                          <thead>
                            <tr>
                              <th scope="col">Numéro Article</th>
                              <th scope="col">Numéro Secteur Économique</th>
                              <th scope="col">Numéro Sous-Secteur Économique</th>
                              <th scope="col">Numéro Famille</th>
                              <th scope="col">Numéro Sous-Famille</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngIf="expandedDetails[i]">
                              <td>{{ expandedDetails[i]?.numArticle }}</td>
                              <td>{{ expandedDetails[i]?.numSectEco }}</td>
                              <td>{{ expandedDetails[i]?.numSSectEco }}</td>
                              <td>{{ expandedDetails[i]?.numFamille }}</td>
                              <td>{{ expandedDetails[i]?.numSFamille }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                  </ng-container>
                
                  
              
                  <div *ngIf="MrcArticles.errors?.['auMoinsUnMrcArticle']" class="alert-custom">
                    <mat-icon class="alert-icon" aria-hidden="false" matTooltip="Erreur: Au moins un article est requis.">warning</mat-icon>
                    <span class="alert-message">
                      Vous n'avez pas des articles dans cette page.
                    </span>
                  </div>
                  
                </tbody>
              </table>
            </div>
            <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 10px;">
              <!-- Premier page -->
              <button mat-button (click)="firstPage()" [disabled]="currentPage === 0">⏮️ Première page</button>
            
              <!-- Précédent -->
              <button mat-button (click)="prevPage()" [disabled]="currentPage === 0">⬅️ Précédent</button>
            
              <!-- Affichage de la page actuelle -->
              <span>Page {{ currentPage + 1 }} / {{ totalPages }}</span>
            
              <!-- Suivant -->
              <button mat-button (click)="nextPage()" [disabled]="(currentPage + 1) >= totalPages">Suivant ➡️</button>
            
              <!-- Dernière page -->
              <button mat-button (click)="lastPage()" [disabled]="(currentPage + 1) >= totalPages">⏭️ Dernière page</button>
            </div>

          </mat-card-content>
        </mat-card>
      </mat-tab>

    </mat-tab-group>

  </form>
</mat-dialog-content>
<mat-dialog-actions class="dialog-actions">
  <div class="button-container">
    <button mat-raised-button (click)="onNoClick()" >Fermer</button>
    <button mat-raised-button color="primary" style="width: 445px;" [disabled]="MrcArticles.errors?.['auMoinsUnMrcArticle'] || isSubmitDisabled()"
    (click)="openConfirmSaveMrcArticleDialog()">Soumettre Marche/Article
  </button>
  </div>
</mat-dialog-actions>