.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* ← peut cacher tout le contenu */
}


.spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.3em;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-left-color: #007bff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error-message {
  color: red;
  text-align: center;
  padding: 15px;
  font-size: 16px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

 .modern-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 16px;
  overflow: hidden;
} 

 .form-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 96%;
} 

.mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.large-select .mat-select-panel {
  max-height: 250px;
  overflow-y: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  position: sticky;
}



button:hover {
  transform: scale(1.05);
}

.custom-tooltip {
  font-size: 14px;
  white-space: pre-line;
}
.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 0;
}

.input-item {
  flex-grow: 1;
}

button {
  margin-top: -20px;
  transition: all 0.3s ease-in-out;
}

.mdc-dialog__content {
  overflow: visible !important;
}
