<mat-toolbar color="primary">
    <span>{{ isAdmin ? 'Liste des Utilisateurs Simples' : 'Liste des Admins' }}</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  
  <div class="main-body">
    <!-- Spinner -->
<!--     <div class="overlay" *ngIf="(_spinnerService.spinnerCounter$ | async) > 0">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div> -->
  
    <!-- Message d'erreur -->
    <div class="error-message" *ngIf="loadingError">
      {{ loadingError }}
    </div>
  
    <!-- Filtres -->
    <mat-form-field style="width: 100%;">
        <mat-label>Rechercher par nom</mat-label>
        <input matInput (keyup)="applyUserFilter($event)" placeholder="Rechercher par nom ou prénom">
      </mat-form-field>
   
  
    <!-- Tableau utilisateurs -->
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
        <!-- Prénom -->
        <ng-container matColumnDef="prenom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</th>
          <td mat-cell *matCellDef="let element">{{ element.prenom }}</td>
        </ng-container>
  
        <!-- Nom -->
        <ng-container matColumnDef="nom">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
          <td mat-cell *matCellDef="let element">{{ element.nom }}</td>
        </ng-container>
  
        <!-- Structure -->
        <ng-container matColumnDef="structure">
            <th mat-header-cell *matHeaderCellDef>Structure</th>
            <td mat-cell *matCellDef="let element">
              {{ element.NUM_STRUCT?.designation ?? '-' }}
            </td>
          </ng-container>
  
        <!-- Actions -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" (click)="startChatWith(element)" matTooltip="Discuter">
                <mat-icon>chat</mat-icon>
              </button>
            </td>
          </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator [length]="length" [pageSize]="pageSize"
                     [pageSizeOptions]="[5, 10, 25]" (page)="onPageChange($event)">
      </mat-paginator>
    </div>
  </div>
  