.mat-dialog-title {
  text-align: center; /* Centrer le titre */
}

.mat-dialog-content {
  display: flex;
  flex-direction: column; /* Colonne pour empiler le contenu */
  align-items: stretch; /* Étendre les éléments */
  padding: 16px; /* Espacement interne */
  overflow: hidden;
  height: 100%;
}

.row {
  display: flex;
  gap: 10px;

  mat-form-field {
    width: 100%;
  }
}

.mat-tab-group {
 // flex: 1; /* Permet aux onglets de prendre tout l'espace disponible */
  //overflow: auto; /* Gère le débordement */
  overflow: scroll;
}

.button-container {
  display: flex;
  justify-content: center; /* Centre les boutons horizontalement */
  gap: 10px; /* Espace entre les boutons */
  padding: 104px 0;
  margin: 0px 300px 0px 290px;
}

.large-select {
  width: 100%; /* Remplir la largeur disponible */
}

.large-select .mat-select {
  min-width: 500px; /* Ajustez cette valeur selon vos besoins */
}

.scrollable-options {
  max-height: 250px; // Ajustez la hauteur selon vos besoins
  overflow-y: auto;
}

.large-select .mat-mdc-select-panel {
  //max-height: 400px; /* Ajustez la hauteur maximale */
  overflow-y: auto; /* Permet le défilement si le contenu dépasse la hauteur */
}

.mdc-dialog__content {
  overflow: hidden;
  overflow-y: scroll;
}

.mdc-dialog__actions {
  display: contents;
}

.mandatory-info {
  font-family: 'Times New Roman', Times, serif;
  margin: 0px 800px 90px 1px;
}

.table-responsive-Lot {
  overflow-y: scroll;
  overflow-x: auto;
  height: 450px;
}

.header-marche-lot-beauty {
  background: linear-gradient(to right, #e0f7fa, #f1f8e9); /* Dégradé très clair bleu-vert */
  text-align: center;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px; /* coins arrondis */
  color: #2e7d32; /* vert foncé doux */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* petite ombre légère */
}

.header-content-beauty {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.label {
  font-weight: 600;
  color: #00796b; /* vert-bleu doux */
}

.value {
  font-weight: 700;
  color: #0d47a1; /* bleu fort mais classe */
}

.separator {
  font-weight: bold;
  color: #757575; /* gris doux pour séparer */
}

.alert-custom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff3cd; /* couleur douce (jaune clair) */
  color: #856404; /* couleur texte orangé foncé */
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* ombre légère */
  font-size: 16px;
  font-weight: 500;
  width: 1925px;
}

.alert-icon {
  margin-right: 10px;
  color: #ff9800; /* couleur orange pour l'icône */
  font-size: 24px;
}

.alert-message {
  flex-grow: 1;
}

mat-icon {
  font-size: 24px;
}

.alert-custom:hover {
  background-color: #fffac8; /* couleur de survol pour ajouter un effet au survol */
  cursor: pointer;
}

.table-responsive-Etape {
  overflow-y: scroll;
  overflow-x: auto;
  height: 450px;
}

.table-responsive-Garantie {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 470px;
}

.etapes-card-content {
  overflow: hidden; /* Empêche le défilement dans cette div spécifique */
  overflow-y: hidden;
  display: flex;
  flex-direction: column; /* Pour permettre un alignement vertical */
  justify-content: space-between; /* Pour espacer le contenu */
  max-height: 700px; /* Limitez la hauteur selon vos besoins */
}


.small-input {
  width: 200px; /* Ajustez cette valeur selon vos besoins */
  padding: 4px; /* Réduisez le padding si nécessaire */
  font-size: 14px; /* Ajustez la taille de la police */
  height: 38px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

.spinner-border {
  width: 3rem;
  height: 3rem;
  border-width: 0.3em;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-left-color: #007bff;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error-message {
  color: red;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  overflow: hidden;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 9999; 
}

.mat-mdc-card {
  margin-bottom: 9px;
  margin-top: 0px;
}



.mat-mdc-tab-body-content {
  height: 100%;
  overflow-y: hidden;
}

.centered-container {
  display: contents;
  height: 20vh; /* Prend toute la hauteur de la vue */
}

.large-form-field {
  width: 500px; /* Ajustez la largeur selon vos besoins */
  margin-right: 30px;
  height: 68px;
}

button:hover {
  background-color: rgba(136, 186, 201, 0.911); /* Légère teinte de fond au survol */
}


.table th {
  padding: 4px; /* Adjust this value as needed */
  margin: 0; /* Ensure there's no margin */
  text-align: center; /* Optional: center the text */
  font-size: 14px; /* Adjust font size if needed */
}

#custom-search ::ng-deep .mat-select-search-clear  {
  display: none; /* Masque la croix */
}



