<mat-dialog-content>
  <h2 mat-dialog-title>Gestion des Marchés</h2>
  <!-- Conteneur pour le spinner -->
  <div class="overlay" *ngIf="(_spinnerService.spinnerCounter$ | async) > 0">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Conteneur pour les messages d'erreur -->
  <div class="error-message" *ngIf="loadingError">
    {{ loadingError }}
  </div>

  <form [formGroup]="form">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedIndexChange)="selectedIndexChange($event)"
      [selectedIndex]="selectedIndex" #matGroup>

      <mat-tab label="Rubrique Marche">
        <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="start" #matGroup>
          <mat-tab label="Informations Générales">
            <mat-card appearance="outlined">
              <mat-card-header>
                <mat-card-title>Marche</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div style="display: flex; flex-wrap: wrap; gap: 16px;">
                  <mat-form-field appearance="fill" style="flex: 1 1 140px; max-width: 140px;">
                    <mat-label>Ministére</mat-label>
                    <input matInput type="text" [formControl]="numMinControl" readonly />
                    <mat-error *ngIf="numMinControl.invalid && (numMinControl.dirty || numMinControl.touched)">
                      <span *ngIf="numMinControl.errors?.['required']">Le champ est requis.</span>
                      <span *ngIf="numMinControl.errors?.['maxlength']">Le champ doit comporté au maximum 2
                        charactéres.</span>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" style="flex: 1 1 400px; max-width: 400px;">
                    <mat-label>Avant Marche</mat-label>
                    <input matInput type="text" [formControl]="numAvantMarcheControl">
                    <mat-error
                      *ngIf="numAvantMarcheControl.invalid && (numAvantMarcheControl.dirty || numAvantMarcheControl.touched)">
                      <span *ngIf="numAvantMarcheControl.errors?.['minlength']">Le champ doit comporté au moins 1
                        charactéres.</span>
                      <span *ngIf="numAvantMarcheControl.errors?.['maxlength']">Le champ doit comporté au maximum 13
                        charactéres.</span>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" style="flex: 1 1 700px; max-width: 700px;">
                    <mat-label>Designation</mat-label>
                    <input matInput type="text" [formControl]="designationControl">
                    <mat-error
                      *ngIf="designationControl.invalid && (designationControl.dirty || designationControl.touched)">
                      <span *ngIf="designationControl.errors?.['required']">Le champ est requis.</span>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" style="flex: 1 1 350px; max-width: 350px;">
                    <mat-label>Année d'exercice</mat-label>
                    <input matInput type="number" [formControl]="exerciceControl">
                    <mat-error *ngIf="exerciceControl.invalid && (exerciceControl.dirty || exerciceControl.touched)">
                      <span *ngIf="exerciceControl.errors?.['required']">Le champ est requis.</span>
                      <span *ngIf="exerciceControl.errors?.['min'] || exerciceControl.errors?.['max']">Année d'exercice
                        doit être composé de 4 chiffres.</span>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" style="flex: 1 1 350px; max-width: 350px;">
                    <mat-label>Duree contractuelle</mat-label>
                    <input matInput type="number" [formControl]="dureeContractControl">
                    <mat-error
                      *ngIf="dureeContractControl.invalid && (dureeContractControl.dirty || dureeContractControl.touched)">
                      <span *ngIf="dureeContractControl.errors?.['min']">La durée du contrat doit etre positive</span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </mat-card-content>
            </mat-card>

            <mat-card appearance="outlined">
              <mat-card-header>
                <mat-card-title>Dates du marché</mat-card-title>
              </mat-card-header>
              <mat-card-content>

                <div style="display: flex; flex-wrap: wrap; gap: 16px;">
                  <mat-form-field appearance="fill" style="flex: 1 1 550px; max-width: 550px;">
                    <mat-label>Date du marche</mat-label>
                    <input matInput [matDatepicker]="pickerdateMarche" [formControl]="dateMarcheControl">
                    <mat-datepicker-toggle matIconSuffix [for]="pickerdateMarche"></mat-datepicker-toggle>
                    <mat-datepicker #pickerdateMarche></mat-datepicker>
                    <mat-error
                      *ngIf="dateMarcheControl.invalid && (dateMarcheControl.dirty || dateMarcheControl.touched)">
                      <span *ngIf="dateMarcheControl.errors?.['required']">Le champ est requis.</span>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" style="flex: 1 1 550px; max-width: 550px;">
                    <mat-label>Date de notification</mat-label>
                    <input matInput [matDatepicker]="pickerdateNotif" [formControl]="dateNotifControl">
                    <mat-datepicker-toggle matIconSuffix [for]="pickerdateNotif"></mat-datepicker-toggle>
                    <mat-datepicker #pickerdateNotif></mat-datepicker>
                    <mat-error *ngIf="dateNotifControl.invalid && (dateNotifControl.dirty || dateNotifControl.touched)">
                      <span *ngIf="dateNotifControl.errors?.['required']">Le champ est requis.</span>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" style="flex: 1 1 550px; max-width: 550px;">
                    <mat-label>Date présentation à la commission interne</mat-label>
                    <input matInput [matDatepicker]="pickerdateCM" [formControl]="dateCMControl">
                    <mat-datepicker-toggle matIconSuffix [for]="pickerdateCM"></mat-datepicker-toggle>
                    <mat-datepicker #pickerdateCM></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field appearance="fill" style="flex: 1 1 550px; max-width: 550px;">
                    <mat-label>Date de présentation du marche à la conseil d'administration</mat-label>
                    <input matInput [matDatepicker]="pickerdateConAdmin" [formControl]="dateConAdminControl">
                    <mat-datepicker-toggle matIconSuffix [for]="pickerdateConAdmin"></mat-datepicker-toggle>
                    <mat-datepicker #pickerdateConAdmin></mat-datepicker>
                    <mat-error
                      *ngIf="dateConAdminControl.invalid && (dateConAdminControl.dirty || dateConAdminControl.touched)">
                      <span *ngIf="dateConAdminControl.errors?.['required']">Le champ est requis.</span>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" style="flex: 1 1 550px; max-width: 550px;">
                    <mat-label>Date d'enregistrement</mat-label>
                    <input matInput [matDatepicker]="pickerdateEnreg" [formControl]="dateEnregControl">
                    <mat-datepicker-toggle matIconSuffix [for]="pickerdateEnreg"></mat-datepicker-toggle>
                    <mat-datepicker #pickerdateEnreg></mat-datepicker>
                    <mat-error *ngIf="dateEnregControl.invalid && (dateEnregControl.dirty || dateEnregControl.touched)">
                      <span *ngIf="dateEnregControl.errors?.['required']">Le champ est requis.</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div *ngIf="form.get('marche')?.errors?.['dateConAdminInvalid']" style="color: red; font-size: small;">
                  La date de prensentation du marche a la conseil d'administration doit être supérieure ou égale à la
                  date de de presentation du marche a la commission interne des marches.
                </div>
                <div *ngIf="form.get('marche')?.errors?.['dateMarcheInvalid']" style="color: red;font-size: small;">
                  La date de marché doit être supérieure ou égale à la date de prensentation du marche a la conseil
                  d'administration.
                </div>
                <div *ngIf="form.get('marche')?.errors?.['dateNotifInvalid']" style="color: red;font-size: small;">
                  La date de notification doit être supérieure ou égale à la date de marché.
                </div>
              </mat-card-content>
            </mat-card>

            <mat-card appearance="outlined" style="height: 137px;">
              <mat-card-header>
                <mat-card-title>Type du marche</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div style="display: flex; flex-wrap: wrap; gap: 16px;">
                  <mat-form-field appearance="fill" style="flex: 1 1 800px; max-width: 800px;">
                    <mat-label>Type Marche</mat-label>
                    <mat-select (selectionChange)="onPrmTypePayMrcSelect($event.value)" class="large-select"
                      [formControl]="typePFMarcheControl">
                      <mat-option *ngFor="let typePFMarcheOption of typePFMarcheOptions"
                        [value]="typePFMarcheOption.id">
                        {{ typePFMarcheOption.designation }}
                      </mat-option>
                      <mat-option *ngIf="isLoading" disabled>
                        <div style="display: flex; justify-content: center; padding: 10px;">
                          <mat-spinner diameter="20"></mat-spinner>
                        </div>
                      </mat-option>
                    </mat-select>
                    <mat-error
                      *ngIf="typePFMarcheControl.invalid && (typePFMarcheControl.dirty || typePFMarcheControl.touched)">
                      <span *ngIf="typePFMarcheControl.errors?.['required']">Le champ est requis.</span>
                    </mat-error>
                  </mat-form-field>
                  <button mat-fab (click)="resetPrmTypePayMrcSelection()" [disabled]="!typePFMarcheControl.value || isMarcheAdded"
                    style="margin-bottom: 21px;">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </mat-card-content>
            </mat-card>
          </mat-tab>

          <mat-tab label="Fournisseur">
            <mat-card appearance="outlined">
              <mat-card-header>
                <mat-card-title>Fournisseur</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <br />
                <div style="display: flex; flex-direction: column; gap: 16px; align-items: left;">
                  <div style="display: flex; align-items: center; gap: 16px; width: 100%; max-width: 2300px;">
                    <mat-form-field appearance="fill" style="flex: 1;">
                      <mat-label>Fournisseur</mat-label>
                      <mat-select (selectionChange)="onFournisseurSelect($event.value)" class="large-select"
                        [formControl]="fournisseurControl" required>
                        <div class="scrollable-options" (scroll)="onScrollFournisseurs($event)">
                          <mat-option>
                            <ngx-mat-select-search id="custom-search" [formControl]="searchTermControl"
                              [placeholderLabel]="'Rechercher...'" [noEntriesFoundLabel]="'Aucun résultat'"
                              (input)="onSearchChange($event)" (clear)="onSearchClear()">
                            </ngx-mat-select-search>
                          </mat-option>
                          <mat-icon *ngIf="searchTermControl.value" (click)="onSearchClear(); $event.stopPropagation()"
                            style="cursor: pointer;margin-left: 1820px;">clear</mat-icon>

                          <mat-option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur">
                            {{ fournisseur.designation }} ({{fournisseur.numFourn}})
                          </mat-option>
                          <mat-option *ngIf="isLoading" disabled>
                            <div style="display: flex; justify-content: center; padding: 10px;">
                              <mat-spinner diameter="20"></mat-spinner>
                            </div>
                          </mat-option>
                        </div>
                      </mat-select>
                      <mat-error
                        *ngIf="fournisseurControl.invalid && (fournisseurControl.dirty || fournisseurControl.touched)">
                        <span *ngIf="fournisseurControl.errors?.['required']">Le champ est requis.</span>
                      </mat-error>
                    </mat-form-field>

                    <button mat-fab (click)="resetFournisseurSelection()" [disabled]="!fournisseurControl.value || isMarcheAdded"
                      style="margin-bottom: 21px;">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>

                  <mat-form-field appearance="fill" style="width: 100%; max-width: 2300px;">
                    <mat-label>Matricule Fiscale</mat-label>
                    <input matInput [formControl]="matriculeFiscControl" readonly>
                  </mat-form-field>

                  <mat-form-field appearance="fill" style="width: 100%; max-width: 2300px;">
                    <mat-label>Numéro Fournisseur Financier</mat-label>
                    <input matInput [formControl]="finFournControl" readonly>
                  </mat-form-field>

                  <div style="display: flex; align-items: center; gap: 16px; width: 100%; max-width: 2300px;">
                    <mat-form-field appearance="fill" style="flex: 1;">
                      <mat-label>Banque</mat-label>
                      <mat-select (selectionChange)="onBanqueSelect($event.value)" class="large-select"
                        [formControl]="banqueControl">
                        <mat-option *ngFor="let banque of banques" [value]="banque.id">
                          {{ banque.designation }}
                        </mat-option>
                        <mat-option *ngIf="isLoading" disabled>
                          <div style="display: flex; justify-content: center; padding: 10px;">
                            <mat-spinner diameter="20"></mat-spinner>
                          </div>
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="banqueControl.invalid && (banqueControl.dirty || banqueControl.touched)">
                        <span *ngIf="banqueControl.errors?.['required']">Le champ est requis.</span>
                      </mat-error>
                    </mat-form-field>

                    <button mat-fab (click)="resetBanqueSelection()" [disabled]="!banqueControl.value || isMarcheAdded"
                      style="margin-bottom: 21px;">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>

                  <mat-form-field appearance="fill" style="width: 100%; max-width: 2300px;">
                    <mat-label>RIB</mat-label>
                    <input matInput [formControl]="ribControl" placeholder="Entrez votre RIB">
                    <mat-error *ngIf="ribControl?.hasError('required')">Le RIB est requis.</mat-error>
                    <mat-error *ngIf="ribControl?.hasError('invalidRib')">Le RIB doit contenir 20 chiffres.</mat-error>
                  </mat-form-field>

                </div>
              </mat-card-content>
            </mat-card>
          </mat-tab>

          <mat-tab label="Coordonnées Marché">
            <mat-card appearance="outlined">
              <mat-card-header>
                <mat-card-title>Coordonnées Marché</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div style="display: flex; flex-wrap: wrap; gap: 16px;">
                   <mat-form-field appearance="fill" style="flex: 1 1 500px; max-width: 500px;">
                    <mat-label>Structure</mat-label>
                    <mat-select (selectionChange)="onStructureSelect($event.value)" class="large-select"
                      [formControl]="structureControl" required>
                      <div class="scrollable-options" (scroll)="onScrollStructures($event)">
                        <mat-option>
                          <ngx-mat-select-search [formControl]="searchStructureTermControl"
                            [placeholderLabel]="'Rechercher...'"
                            [noEntriesFoundLabel]="'Aucun résultat'"></ngx-mat-select-search>
                        </mat-option>
                        <ng-container *ngFor="let structure of structures">
                          <mat-option *ngIf="matchesSearchStructureTerm(structure, searchStructureTermControl.value)"
                            [value]="structure.numStruct">
                            {{ structure.designation ?? 'Pas de desigantion pour ce numéro structure' }} - {{
                            structure.numStruct }}
                          </mat-option>
                        </ng-container>
                        <mat-option *ngIf="isLoading" disabled>
                          <div style="display: flex; justify-content: center; padding: 10px;">
                            <mat-spinner diameter="20"></mat-spinner>
                          </div>
                        </mat-option>
                      </div>
                    </mat-select>
                    <mat-error *ngIf="structureControl.invalid && (structureControl.dirty || structureControl.touched)">
                      <span *ngIf="structureControl.errors?.['required']">Le champ est requis.</span>
                    </mat-error>
                  </mat-form-field>
                  <button mat-fab (click)="resetStructureSelection()" [disabled]="!structureControl.value || structureControl.disabled"
                    style="margin-left: -7px; margin-top: -4px;">
                    <mat-icon>delete</mat-icon>
                  </button> 

                  <mat-form-field appearance="fill" style="flex: 1 1 500px; max-width: 500px;">
                    <mat-label>Numéro structure</mat-label>
                    <input matInput [formControl]="NumStructureControl" readonly>
                  </mat-form-field>

                  <mat-form-field appearance="fill" style="flex: 1 1 500px; max-width: 500px;">
                    <mat-label>Désignation de la structure</mat-label>
                    <input matInput [formControl]="DesigantionStructureControl" readonly>
                  </mat-form-field>
                </div>
                <div style="display: flex; flex-wrap: wrap; gap: 16px;">
                  <mat-form-field appearance="fill" style="flex: 1 1 500px; max-width: 500px;">
                    <mat-label>Pourcentage sur le retenue de la garantie(%)</mat-label>
                    <input matInput type="number" [formControl]="pctRetGarControl">
                    <mat-error *ngIf="pctRetGarControl.invalid && (pctRetGarControl.dirty || pctRetGarControl.touched)">
                      <span *ngIf="pctRetGarControl.errors?.['max'] || pctRetGarControl.errors?.['min']">Le pourcentage
                        sur le retenue de la garantie doit être entre 0 et 10.</span>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" style="flex: 1 1 500px; max-width: 500px;">
                    <mat-label>Taux de retenue a la source(%)</mat-label>
                    <input matInput type="number" [formControl]="pctRetIrControl">
                    <mat-error *ngIf="pctRetIrControl.invalid && (pctRetIrControl.dirty || pctRetIrControl.touched)">
                      <span *ngIf="pctRetIrControl.errors?.['max'] || pctRetIrControl.errors?.['min']">Le Taux de
                        retenue a la source doit être entre 0 et 10.</span>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" style="flex: 1 1 500px; max-width: 500px;">
                    <mat-label>Taux de retenue a la tva(%)</mat-label>
                    <input matInput type="number" [formControl]="pctRetTvaControl">
                    <mat-error *ngIf="pctRetTvaControl.invalid && (pctRetTvaControl.dirty || pctRetTvaControl.touched)">
                      <span *ngIf="pctRetTvaControl.errors?.['max'] || pctRetTvaControl.errors?.['min']">Taux de retenue
                        a la tva doit être entre 0 et 50.</span>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" style="flex: 1 1 500px; max-width: 500px;">
                    <mat-label>Taux de TVA a appliquer au niveau decompte(%)</mat-label>
                    <input matInput type="number" [formControl]="pctTvaControl">
                    <mat-error *ngIf="pctTvaControl.invalid && (pctTvaControl.dirty || pctTvaControl.touched)">
                      <span *ngIf="pctTvaControl.errors?.['max'] || pctTvaControl.errors?.['min']">Le pourcentage doit
                        être entre 0 et 99</span>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" style="flex: 1 1 500px; max-width: 500px;">
                    <mat-label>Taux de variation dans la masse(%)</mat-label>
                    <input matInput type="number" [formControl]="pctVdmControl">
                    <mat-error *ngIf="pctVdmControl.invalid && (pctVdmControl.dirty || pctVdmControl.touched)">
                      <span *ngIf="pctVdmControl.errors?.['max'] || pctVdmControl.errors?.['min']">Le pourcentage doit
                        être entre 0 et 99.99</span>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" style="flex: 1 1 500px; max-width: 500px;">
                    <mat-label>Taux max de variation dans la masse(%)</mat-label>
                    <input matInput type="number" [formControl]="pctMaxVdmControl">
                    <mat-error *ngIf="pctMaxVdmControl.invalid && (pctMaxVdmControl.dirty || pctMaxVdmControl.touched)">
                      <span *ngIf="pctMaxVdmControl.errors?.['max'] || pctMaxVdmControl.errors?.['min']">Le pourcentage
                        doit être entre 0 et 99.99</span>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div style="display: flex; flex-wrap: wrap; gap: 16px;">
                  <mat-form-field appearance="fill" style="flex: 1 1 500px; max-width: 500px;">
                    <mat-label>Pourcentage de Remise(%)</mat-label>
                    <input matInput type="number" [formControl]="pctRemiseControl">
                    <mat-error *ngIf="pctRemiseControl.invalid && (pctRemiseControl.dirty || pctRemiseControl.touched)">
                      <span *ngIf="pctRemiseControl.errors?.['max'] || pctRemiseControl.errors?.['min']">Le pourcentage
                        doit être entre 0 et 99.99</span>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" style="flex: 1 1 500px; max-width: 500px;">
                    <mat-label>Pourcentage Avance(%)</mat-label>
                    <input matInput type="number" [formControl]="pctAvancePayControl">
                    <mat-error *ngIf="pctAvancePayControl.invalid && (pctAvancePayControl.dirty || pctAvancePayControl.touched)">
                      <span *ngIf="pctAvancePayControl.errors?.['max'] || pctAvancePayControl.errors?.['min']">Le pourcentage
                       doit être entre 0 et 99.99</span>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" style="flex: 1 1 500px; max-width: 500px;">
                    <mat-label>Pourcentage retenue à l'avance(%)</mat-label>
                    <input matInput type="number" [formControl]="pctRetenueAvancePayControl">
                    <mat-error *ngIf="pctRetenueAvancePayControl.invalid && (pctRetenueAvancePayControl.dirty || pctRetenueAvancePayControl.touched)">
                      <span *ngIf="pctRetenueAvancePayControl.errors?.['max'] || pctRetenueAvancePayControl.errors?.['min']">Le pourcentage
                         doit être entre 0 et 99.99</span>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" style="flex: 1 1 500px; max-width: 500px;">
                    <mat-label>Duree Avance(jour)</mat-label>
                    <input matInput type="number" [formControl]="dureeAvanceControl">
                  </mat-form-field>
                </div>

                <div *ngIf="marcheGroup.errors?.['pctVdmExceedsMax']" style="color: red; font-size: small;"> Le taux de
                  variation dans la masse doit être inférieur ou égal au taux max de variation dans la masse.</div>
                <br />
                <div style="display: flex; flex-wrap: wrap; gap: 20px;">
                  <div style="margin-block: 8px;">
                    <mat-label style="font-size: large; font-weight: bold; color: #333;">Penalité</mat-label>
                    <mat-radio-group aria-label="Select an option" (change)="onPenaliteChange($event.value)"
                      [formControl]="ExPenControl">
                      <mat-radio-button style="font-size: large;color: #555;" [value]="0">Sans</mat-radio-button>
                      <mat-radio-button style="font-size: large;color: #555;" [value]="1">Avec</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="centered-container">
                    <mat-form-field appearance="fill" style="flex: 1 1 500px; max-width: 500px;">
                      <mat-label>Taux max de penalite(%)</mat-label>
                      <input matInput type="number" [formControl]="pctMaxPenaliteControl">
                      <mat-error
                        *ngIf="pctMaxPenaliteControl.invalid && (pctMaxPenaliteControl.dirty || pctMaxPenaliteControl.touched)">
                        <span *ngIf="pctMaxPenaliteControl.errors?.['max'] || pctMaxPenaliteControl.errors?.['min']">Le
                          maximum de penalité doit être entre 0 et 10.</span>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="flex: 1 1 500px; max-width: 500px;">
                      <mat-label>Taux de penalite par jour de retard(%)</mat-label>
                      <input matInput type="number" [formControl]="tauxPenJControl">
                      <mat-error *ngIf="tauxPenJControl.invalid && (tauxPenJControl.dirty || tauxPenJControl.touched)">
                        <span *ngIf="tauxPenJControl.errors?.['max'] || tauxPenJControl.errors?.['min']">Le pourcentage
                          doit être entre 0 et 99,99.</span>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="flex: 1 1 400px; max-width: 500px;">
                      <mat-label>Montant de penalite par jour de retard</mat-label>
                      <input matInput type="number" [formControl]="montantPenJControl">
                    </mat-form-field>
                  </div>
                  <div>
                    <mat-label style="font-size: large;margin-bottom: auto;font-weight: bold; color: #333;">Penalité
                      appliquée sur</mat-label>
                    <mat-radio-group [formControl]="IdModePenControl" aria-label="Select an option">
                      <mat-radio-button *ngFor="let penalite of penalites" style="font-size: large;color: #555;"
                        [value]="penalite.idModePen">
                        {{ penalite.designation }}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>

          </mat-tab>
        </mat-tab-group>

      </mat-tab>

      <mat-tab label="Rubrique Garantie" *ngIf="isMarcheValid || isEditing">
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>Gestion des garanties
              <button class="btn btn-primary" type="button" (click)="addMrcGarantie()">+
              </button>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div formArrayName="mrcgaranties" class="table-responsive-Garantie">
              <br />
              <table class="table table-striped" style="overflow-y: hidden;">
                <thead>
                  <tr>
                    <th colspan="6" class="header-marche-lot-beauty">
                      <div class="header-content-beauty">
                        <span class="label">Numéro Marché :</span> 
                        <span class="value">{{ numMarche }}</span> 
                      </div>
                    </th>
                  </tr>
                  <tr *ngIf="!mrcgaranties.errors?.['auMoinsUnMrcGarantie']">
                    <th scope="col">Numéro garantie</th>
                    <th scope="col">Type garantie</th>
                    <th scope="col">Date début</th>
                    <th scope="col">Montant garantie</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let mrcgarantie of mrcgaranties.controls; let i = index" [formGroupName]="i" class="text-center">
                    <td>
                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Numéro garantie</mat-label>
                        <input matInput readonly  formControlName="numGarantie" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="outline" class="full-width" style="width: 425px;">
                        <mat-label>Type garantie</mat-label>
                        <mat-select formControlName="idPrmGarantie"  (selectionChange)="onPrmGarantieChange($event.value, i)">
                          <ng-container *ngFor="let prmGarantie of prmGaranties">
                            <mat-option [value]="prmGarantie.id">
                              {{ prmGarantie.designation ?? 'Pas de désignation pour ce genre de garantie' }}
                            </mat-option>
                          </ng-container>
                          <mat-option *ngIf="isLoading" disabled>
                            <div style="display: flex; justify-content: center; padding: 10px;">
                              <mat-spinner diameter="20"></mat-spinner>
                            </div>
                          </mat-option>
                        </mat-select>
                         <mat-error *ngIf="form.get('mrcgaranties').get(i.toString()).get('idPrmGarantie').invalid && 
                            (form.get('mrcgaranties').get(i.toString()).get('idPrmGarantie').dirty || 
                            form.get('mrcgaranties').get(i.toString()).get('idPrmGarantie').touched)">
                          <span *ngIf="form.get('mrcgaranties').get(i.toString()).get('idPrmGarantie').errors?.['required']">La selection d'un garantie est requis.</span>
                        </mat-error> 
                      </mat-form-field>
                      <button mat-fab  (click)="resetDesignationMrcGarantieSelection(i)"
                      [disabled]="!mrcgaranties.at(i).get('isNew')?.value || !selectedPrmGaranties.has(mrcgaranties.at(i).get('idPrmGarantie').value)"
                        style="width: 37px; padding-bottom: 11px; margin-left: 10px; margin-top: 0px;">
                        <mat-icon
                          style="margin-left: 0px;padding-bottom: 0px; margin-bottom: 0px; width: 23px;">delete</mat-icon>
                      </button>
                    </td>
                    <td>
                      <mat-form-field appearance="outline" class="full-width" style="width: 300px;" >
                        <mat-label>Date début</mat-label>
                        <input matInput [matDatepicker]="pickerdateDebut" formControlName="dateDebut">
                        <mat-datepicker-toggle matIconSuffix [for]="pickerdateDebut"></mat-datepicker-toggle>
                        <mat-datepicker #pickerdateDebut></mat-datepicker>
                        <mat-error *ngIf="form.get('mrcgaranties').get(i.toString()).get('dateDebut').invalid && 
                        (form.get('mrcgaranties').get(i.toString()).get('dateDebut').dirty || 
                        form.get('mrcgaranties').get(i.toString()).get('dateDebut').touched)">
                      <span *ngIf="form.get('mrcgaranties').get(i.toString()).get('dateDebut').errors?.['required']">La date de début est requis.</span>
                    </mat-error>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Montant garantie</mat-label>
                        <input matInput type="number" formControlName="mntGar"  />
                        <mat-error *ngIf="form.get('mrcgaranties').get(i.toString()).get('mntGar').invalid && 
                        (form.get('mrcgaranties').get(i.toString()).get('mntGar').dirty || 
                        form.get('mrcgaranties').get(i.toString()).get('mntGar').touched)">
                        <span *ngIf="form.get('mrcgaranties').get(i.toString()).get('mntGar').errors?.['required']">Le montant garantie est requis.</span>
                        </mat-error>
                      </mat-form-field>
                    </td>
                    <td>
                      <button mat-raised-button color="warn" style="width: 100px; margin-block: 9px;" type="button"
                      [matTooltip]="i < mrcgaranties.length - 1 ? 'Vous devez supprimer le dernière MrcGrantie pour supprimer celle-ci.' : ''"
                      matTooltipPosition="left" (click)="i < mrcgaranties.length - 1 ? null : openDeleteConfirmDialogMrcGarantie(i)">
                        <mat-icon style="margin-left: 7px;padding-bottom: 26%;">delete</mat-icon>
                      </button>
                    </td>
                  </tr>

                  <div *ngIf="mrcgaranties.errors?.['auMoinsUnMrcGarantie']" class="alert-custom">
                    <mat-icon class="alert-icon" aria-hidden="false" matTooltip="Erreur: Au moins un garantie dans ce marche est requis.">warning</mat-icon>
                    <span class="alert-message">
                      Vous devez créer au moins un garantie dans ce marche pour que le button Soumettre Garantie soit activé .
                    </span>
                  </div>
                </tbody>
              </table>
            </div>
          </mat-card-content>
          <br />
          <br />
        </mat-card>
      </mat-tab>

      <mat-tab label="Rubrique Etape" *ngIf="isMarcheValid || isEditing">
        <!-- Etape -->
        <br>
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>Gestion des étapes
              <button class="btn btn-primary" type="button" (click)="addEtape()"
                [disabled]="!form.get('allowMultipleEtapes').value && etapes.length >= 2">+
              </button>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div  style="display: flex; justify-content: flex-end; margin-bottom: 16px;">
              <mat-slide-toggle formControlName="allowMultipleEtapes">
                Méthode de paiement par phase
              </mat-slide-toggle>
            </div>
            <div formArrayName="etapes" class="table-responsive-Etape">
              <table class="table table-striped" style="overflow-y: hidden;">
                <thead>
                  <tr>
                    <th colspan="6" class="header-marche-lot-beauty">
                      <div class="header-content-beauty">
                        <span class="label">Numéro Marché :</span> 
                        <span class="value">{{ numMarche }}</span> 
                      </div>
                    </th>
                  </tr>
                  <tr *ngIf="!etapes.errors?.['auMoinsUneEtape']" style="overflow-x: hidden;">
                    <th scope="col">Etape</th>
                    <th scope="col">Numéro etape</th>
                    <th scope="col">Désignation</th>
                    <th scope="col">Durée Prévue</th>
                    <th scope="col">Pourcentage de Paiement</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let etape of etapes.controls; let i = index" [formGroupName]="i" class="text-center">
                    <td>
                      <mat-checkbox formControlName="selectedEtape"
                        (change)="onCheckboxChangeEtape(i,$event.checked)"></mat-checkbox>
                    </td>
                    <td>
                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Numéro d'étape</mat-label>
                        <input matInput [value]="etape.get('numEtape').value" readonly />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="outline" style="height: 7%; width: 700px;">
                        <mat-label>Désignation</mat-label>
                        <input matInput formControlName="designation" placeholder="Désignation" />
                        <mat-error
                          *ngIf="etape.get('designation').invalid && (etape.get('designation').touched || etape.get('designation').dirty)">
                          La désignation est requise.
                        </mat-error>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="outline">
                        <mat-label>Durée (Jours)</mat-label>
                        <input matInput type="number" formControlName="dureePrev" placeholder="Durée (Jours)" />
                        <mat-error
                          *ngIf="etape.get('dureePrev').invalid && (etape.get('dureePrev').touched || etape.get('dureePrev').dirty)">
                          La durée prévue est requise.
                        </mat-error>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="outline" style="height: 7%; width: 250px;">
                        <mat-label>Pourcentage (%)</mat-label>
                        <input matInput type="number" formControlName="pctPaiement" placeholder="Pourcentage (%)" />
                        <mat-error
                          *ngIf="etape.get('pctPaiement').invalid && (etape.get('pctPaiement').touched || etape.get('pctPaiement').dirty)">
                          <small
                            *ngIf="etape.get('pctPaiement').errors?.['min'] || etape.get('pctPaiement').errors?.['max']">
                            Le pourcentage doit être entre 0 et 99.99.
                          </small>
                        </mat-error>
                      </mat-form-field>
                    </td>
                    <td>
                      <button mat-raised-button color="warn" style="width: 100px; margin-block: 10px;" type="button"
                        [matTooltip]="i < etapes.length - 1 ? 'Vous devez supprimer la dernière étape pour supprimer celle-ci.' : ''"
                        matTooltipPosition="left" (click)="i < etapes.length - 1 ? null : openConfirmEtapeDialog(i)">
                        <mat-icon style="margin-left: 10px;">delete</mat-icon>
                      </button>
                    </td>
                  </tr>

                  <div *ngIf="etapes.errors?.['auMoinsUneEtape']" class="alert-custom">
                    <mat-icon class="alert-icon" aria-hidden="false" matTooltip="Erreur: Au moins une étape est requise.">warning</mat-icon>
                    <span class="alert-message">
                      Vous devez créer au moins une étape pour que le button de soumession/modification soit activé .
                    </span>
                  </div>
                </tbody>
              </table>
            </div>
          </mat-card-content>
          <br />
          <br />
        </mat-card>
        <!-- /Etape -->
      </mat-tab>

      <mat-tab label="Rubrique Lot" *ngIf="isMarcheValid || isEditing">
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title>Gestion des lots
              <button class="btn btn-primary" type="button" (click)="addMrcLot()">+
              </button>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div formArrayName="mrclots" class="table-responsive-Lot" style="overflow-x: auto;">
              <br />
              <br />
              <table class="table table-striped" style="width: 100%; table-layout: fixed; overflow-y: hidden;">
                <thead>
                  <tr>
                    <th colspan="6" class="header-marche-lot-beauty">
                      <div class="header-content-beauty">
                        <span class="label">Numéro Marché :</span> 
                        <span class="value">{{ numMarche }}</span> 
                      </div>
                    </th>
                  </tr>
                  <tr *ngIf="!mrclots.errors?.['auMoinsUnMrclot']">
                    <th scope="col">Lot</th>
                    <th scope="col">Numéro du lot</th>
                    <th scope="col">Désignation du lot</th>
                    <th scope="col">Désignation du marche lot</th>
                    <th scope="col">Type Lot</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let mrclot of mrclots.controls; let i = index" [formGroupName]="i" class="text-center">
                    <td>
                      <mat-checkbox formControlName="selected" (change)="onCheckboxChange(i, $event.checked)"></mat-checkbox>
                    </td>
                    <td>
                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Référence Lot</mat-label>
                        <input matInput readonly formControlName="idLot" />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Désignation du lot</mat-label>
                        <mat-select formControlName="idPrmLot"  (selectionChange)="onPrmLotChange($event.value, i)">
                          <mat-option *ngIf="searchPrmTermControls[i]">
                            <ngx-mat-select-search [formControl]="searchPrmTermControls[i]"
                              [placeholderLabel]="'Rechercher...'" [noEntriesFoundLabel]="'Aucun résultat'"></ngx-mat-select-search>
                          </mat-option>
                          <ng-container *ngFor="let prmLot of prmLots">
                            <mat-option *ngIf="matchesSearchPrmTerm(prmLot, searchPrmTermControls[i].value)"
                              [disabled]="selectedPrmLots.has(prmLot.idLot)" [value]="prmLot.idLot">
                              {{ prmLot.designation ?? 'Pas de désignation pour ce genre de lot' }}
                            </mat-option>
                          </ng-container>
                          <mat-option *ngIf="isLoading" disabled>
                            <div style="display: flex; justify-content: center; padding: 10px;">
                              <mat-spinner diameter="20"></mat-spinner>
                            </div>
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.get('mrclots').get(i.toString()).get('idPrmLot').invalid && 
                            (form.get('mrclots').get(i.toString()).get('idPrmLot').dirty || 
                            form.get('mrclots').get(i.toString()).get('idPrmLot').touched)">
                          <span *ngIf="form.get('mrclots').get(i.toString()).get('idPrmLot').errors?.['required']">Le
                            champ est requis.</span>
                        </mat-error>
                      </mat-form-field>
                      <button mat-fab (click)="resetDesignationMrclotSelection(i)"
                        style="width: 37px; padding-bottom: 11px; margin-left: 10px; margin-top: 0px;"
                        [disabled]="!selectedPrmLots.has(mrclots.at(i).get('idPrmLot').value) || !mrclots.at(i).get('isNew')?.value || isMrcLotSaved || isResetButtonDisabled ">
                        <mat-icon style="margin-left: 0px; padding-bottom: 0px; margin-bottom: 0px; width: 23px;">delete</mat-icon>
                      </button>
                    </td>
                    <td>
                      <mat-form-field appearance="outline" class="full-width" style="width: 100%;">
                        <mat-label>Designation Marche Lot</mat-label>
                        <input matInput formControlName="designation" />
                      </mat-form-field>
                    </td>
          
                    <td>
                      <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Type Lot</mat-label>
                        <input matInput readonly formControlName="idTypeLot" />
                      </mat-form-field>
                    </td>
                    <td>
                      <button mat-raised-button color="warn" style="width: 100px; margin-block: 9px;" type="button"
                        (click)="openConfirmDialogMrcLot(i)">
                        <mat-icon style="margin-left: 7px; padding-bottom: 26%;">delete</mat-icon>
                      </button>
                    </td>
                  </tr>

                  <div *ngIf="mrclots.errors?.['auMoinsUnMrclot']" class="alert-custom">
                    <mat-icon class="alert-icon" aria-hidden="false" matTooltip="Erreur: Au moins un lot dans ce marche est requis.">warning</mat-icon>
                    <span class="alert-message">
                      Vous devez créer au moins un lot dans ce marche pour que le button Soumettre Lots soit activé .
                    </span>
                  </div>
                </tbody>
              </table>
            </div>
          </mat-card-content>
          
          <br />
          <br />
        </mat-card>
      </mat-tab>

   
    </mat-tab-group>
  </form>
</mat-dialog-content>
<br />
<br />
<mat-dialog-actions>
  <div class="button-container">
    <button mat-raised-button (click)="onNoClick()">Fermer</button>
    <button mat-raised-button color="primary" style="width: 30%;" *ngIf="selectedIndex === 0"
      (click)="isEditing ? openConfirmUpdateMarcheDialog() : openConfirmSaveMarcheDialog()"
      [disabled]="!form.get('marche')?.valid || !fournisseurControl.valid">
      {{ isEditing ? 'Soumettre Marche' : 'Soumettre Marche' }}
    </button>
    <button mat-raised-button color="primary" style="width: 30%;"
    *ngIf="selectedIndex === 1"
    [disabled]="!areAllMrcGarantiesValid() || mrcgaranties.errors?.['auMoinsUnMrcGarantie'] "
    (click)="openConfirmSaveMrcGarantieDialog()">Soumettre Garantie
  </button>
    <button [disabled]="!areAllEtapesValid() || etapes.errors?.['auMoinsUneEtape']" mat-raised-button color="primary"
      style="width: 30%;" *ngIf="selectedIndex === 2" (click)="openConfirmSaveOrUpdateEtapeDialog()">{{ isEditing ?
      'Soumettre Etape' : 'Soumettre Etape' }}
    </button>
    <button mat-raised-button color="primary" style="width: 30%;"
      [disabled]="mrclots.errors?.['auMoinsUnMrclot'] || isSubmitDisabled()"
      *ngIf="selectedIndex === 3"
      (click)="openConfirmSaveMrcLotDialog()">Soumettre Lots
    </button>
    <button mat-raised-button style="width: 30%; background-color: #4c9baf; color: white;"
      *ngIf="isAnyChecked() && selectedIndex === 3"
      [matTooltip]="selectedLotNumero && isNewMrclot ? 'Vous allez affecter un ou plusieurs articles pour le lot : ' + selectedLotNumero : 'Vous devez choisir une designation puis soumettre le lot pour avoir un numéro de lot et pouvoir affecter des articles.'"
      matTooltipPosition="below" (click)="selectedLotNumero ? gestionDesArticles() : null">
      Affectation des articles
    </button>
    <button mat-raised-button style="width: 30%; background-color: #4c9baf; color: white;"
    *ngIf="isAnyCheckedEtape() && selectedIndex === 2"
    [matTooltip]="selectedEtapeNumero  ? 'Vous allez affecter un ou plusieurs Ordres services pour cette etape : ' + selectedEtapeNumero : 'Vous devez choisir une etape pour que vous puissiez affecter des ordres services.'"
    matTooltipPosition="below" (click)="selectedEtapeNumero ? gestionDesOrdresServices() : null">
    Affectation des ordres de service
  </button>
  </div>
</mat-dialog-actions>