<h2 mat-dialog-title class="chat-title">
  💬 Discussion avec {{ data.prenom }} {{ data.nom }}
</h2>

<mat-dialog-content class="chat-content">

  <!-- ✅ Avertissement d'inactivité -->
  <div *ngIf="countdown < 90 && countdown > 0" class="timeout-warning">
    ⏳ Inactivité détectée : fermeture automatique dans {{ countdown }} secondes...
  </div>

  <div class="chat-messages" #messageContainer>

    <!-- Message symbolique si aucun message -->
    <div *ngIf="messages.length === 0" class="empty-chat">
      <mat-icon class="empty-icon">chat_bubble_outline</mat-icon>
      <p class="empty-text">Aucune discussion pour l’instant.<br><strong>Démarrez la conversation !</strong></p>
    </div>

    <!-- Affichage des messages -->
    <div *ngFor="let message of messages" 
         [ngClass]="{ 'sent': message.senderMatricule === matricule, 'received': message.senderMatricule !== matricule }" 
         class="message-bubble">
      <div class="message-text">
        <span class="sender">
          {{ message.senderMatricule === matricule ? 'Vous' : message.senderMatricule }}:
        </span>
        {{ message.message }}
      </div>
    </div>
  </div>
</mat-dialog-content>


<mat-dialog-actions class="chat-actions">
  <mat-form-field class="chat-input" appearance="outline">
    <textarea matInput #messageInput placeholder="Écrire un message..." rows="2"
    [(ngModel)]="newMessage"
    (input)="onUserActivity()">
  </textarea>
  </mat-form-field>

  <div class="chat-buttons">
    <button mat-icon-button color="primary" (click)="sendMessage()" [disabled]="!newMessage.trim()" class="send-button" matTooltip="Envoyer">
      <mat-icon>send</mat-icon>
    </button>
    <button mat-raised-button color="warn" (click)="close()" class="close-button">
      <mat-icon class="button-icon">close</mat-icon> Fermer
    </button>
    <button *ngIf="isAdmin && messages.length > 0"  mat-stroked-button color="warn" (click)="openConfirmDeleteOperationDialog()" class="clear-button">
      <mat-icon class="delete-icon">delete_forever</mat-icon> Vider la discussion
    </button>
  </div>
</mat-dialog-actions>
