<mat-toolbar color="primary">
    <span>Liste des Marches</span>
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="openAddEditDialog()">Ajouter un marche</button>
  </mat-toolbar>
  
  <div class="main-body">
    <!-- Conteneur pour le spinner -->
    <div class="overlay" *ngIf="(_spinnerService.spinnerCounter$ | async) > 0">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  
    <!-- Conteneur pour les messages d'erreur -->
    <div class="error-message" *ngIf="loadingError">
      {{ loadingError }}
    </div>
  
    <!-- Conteneur principal des filtres et des marches -->
    <div class="filter-container">
      <mat-form-field>
        <mat-label>Rechercher exacte par Numéro Marche</mat-label>
        <input matInput (keyup)="applyFilterNumMarche($event)" placeholder="Rechercher exacte par Numéro Marche">
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Rechercher par Designation</mat-label>
        <input matInput (keyup)="applyFilterDesignation($event)" placeholder="Rechercher par Désignation Marche">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Rechercher par Fournisseur</mat-label>
        <input matInput (keyup)="applyFilterFournisseurDesignation($event)" placeholder="Rechercher par Fournisseur">
      </mat-form-field>
    </div> 
  
    <!-- Conteneur pour le tableau des marches -->
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Définition des colonnes de la table -->
        <ng-container matColumnDef="id">
          <th class="centered-cell" mat-header-cell *matHeaderCellDef mat-sort-header>Marche</th>
           <td class="centered-cell" mat-cell *matCellDef="let element">{{ element.id }}</td> 
        </ng-container>
  
        <!-- Répétez ce modèle pour chaque colonne comme vous l'avez fait -->
        <ng-container matColumnDef="numBanque">
          <th class="centered-cell" mat-header-cell *matHeaderCellDef mat-sort-header>Banque</th>
           <td  class="centered-cell" mat-cell *matCellDef="let element">{{ element.numBanque?.designation ?? '-' }}</td> 
        </ng-container>
  
<!--         <ng-container matColumnDef="numMin">
          <th class="centered-cell" mat-header-cell *matHeaderCellDef mat-sort-header>Ministére</th>
           <td class="centered-cell" mat-cell *matCellDef="let element">{{ element.numMin ?? '-' }}</td> 
        </ng-container> -->
  
        <ng-container matColumnDef="numAvMarche">
          <th class="centered-cell" mat-header-cell *matHeaderCellDef mat-sort-header>Avant marche</th>
           <td class="centered-cell" mat-cell *matCellDef="let element">{{ element.numAvMarche ?? '-' }}</td> 
        </ng-container>
  
        <ng-container matColumnDef="designationFourn">
          <th class="centered-cell" mat-header-cell *matHeaderCellDef mat-sort-header>Fournisseur</th>
          <td  mat-cell *matCellDef="let element">{{ element.idFourn?.designation ?? '-' }}</td> 
        </ng-container>

        <ng-container matColumnDef="matFiscaleFourn">
          <th class="centered-cell" mat-header-cell *matHeaderCellDef mat-sort-header>MatFisc Fournisseur</th>
          <td  mat-cell *matCellDef="let element">{{ element.idFourn?.numFourn ?? '-' }}</td> 
        </ng-container>
  
        <ng-container matColumnDef="designation">
          <th class="centered-cell" mat-header-cell *matHeaderCellDef >Designation</th>
           <td class="centered-cell" mat-cell *matCellDef="let element">{{ element.designation ?? '-' }}</td> 
        </ng-container>
  
<!--         <ng-container matColumnDef="rib">
          <th class="centered-cell" mat-header-cell *matHeaderCellDef >Rib</th>
           <td class="centered-cell" mat-cell *matCellDef="let element">{{ element.rib ?? '-' }}</td> 
        </ng-container> -->
  
        <ng-container matColumnDef="dateMarche">
          <th class="centered-cell" mat-header-cell *matHeaderCellDef mat-sort-header>Date de marche</th>
           <td class="centered-cell" mat-cell *matCellDef="let element">{{ element.dateMarche ?? '-' }}</td> 
        </ng-container>
  
        <ng-container matColumnDef="typePFMarche">
          <th  class="centered-cell" mat-header-cell *matHeaderCellDef mat-sort-header>Type marche</th>
           <td  class="centered-cell" mat-cell *matCellDef="let element">{{ element.typePFMarche.designation }}</td> 
        </ng-container>
  
 <!--        <ng-container matColumnDef="nant">
          <th class="centered-cell" mat-header-cell *matHeaderCellDef>NANT </th>
           <td  class="centered-cell" mat-cell *matCellDef="let element">{{ element.nant?.designation ?? '-' }}</td> 
        </ng-container> -->

<!--         <ng-container matColumnDef="numLot">
          <th class="centered-cell" mat-header-cell *matHeaderCellDef>Num Lot</th>
           <td class="centered-cell" mat-cell *matCellDef="let element">{{ element.numLot ?? '-' }}</td> 
        </ng-container> -->

 <!--        <ng-container matColumnDef="mntMarche">
          <th class="centered-cell" mat-header-cell *matHeaderCellDef>Montant marche</th>
           <td class="centered-cell" mat-cell *matCellDef="let element">{{ element.mntMarche ?? '-' }}</td> 
        </ng-container>

        <ng-container matColumnDef="mntMrcApresAvenant">
          <th class="centered-cell" mat-header-cell *matHeaderCellDef>Montant marche aprés avenant</th>
           <td class="centered-cell" mat-cell *matCellDef="let element">{{ element.mntMrcApresAvenant ?? '-' }}</td> 
        </ng-container> -->

        
        <ng-container matColumnDef="structure">
          <th class="centered-cell" mat-header-cell *matHeaderCellDef>Structure</th>
           <td class="centered-cell" mat-cell *matCellDef="let element">{{ element.idStructure?.designation ?? '-' }}</td> 
        </ng-container> 
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="centered-cell">Actions</th>
          <td class="centered-cell" mat-cell *matCellDef="let element">
            <ul class="list-inline m-0">
              <li class="list-inline-item">
                <button (click)="openEditForm(element)" class="btn btn-success" type="button" data-toggle="tooltip" data-placement="top" title="Edit">
                  <i class="fa fa-edit"></i>
                </button>
              </li>
              <li class="list-inline-item">
                <button (click)="openConfirmDialog(element.id)" class="btn btn-danger" type="button" data-toggle="tooltip" data-placement="top" title="Delete">
                  <i class="fa fa-trash"></i>
                </button>
              </li>
            </ul>
          </td>
        </ng-container>
  
        <!-- Définition des lignes du tableau -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator  [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  