<mat-dialog-content>
    <h2 mat-dialog-title>Décomptes</h2>
  
    <!-- Conteneur pour le spinner -->
    <div class="overlay" *ngIf="(_spinnerService.spinnerCounter$ | async) > 0">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  
    <!-- Conteneur pour les messages d'erreur -->
    <div class="error-message" *ngIf="loadingError">
      {{ loadingError }}
    </div>
  
    <form [formGroup]="form">
      <!-- Tabs -->
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" #matGroup>
  
        <!-- Tab2 Decompte -->
        <mat-tab label="Rubrique Décompte">
          <br />
          <mat-card appearance="outlined">
            <mat-card-header>
              <mat-card-title>Gestion des décomptes
                <button class="btn btn-primary" type="button" (click)="addDecompte()" 
                [disabled]="isNewDecompteAdded || disableAddDecompteTypeAvance">+</button>
              </mat-card-title>
            </mat-card-header>
  
            <mat-card-content>
              <div formArrayName="decomptes" class="table-responsive-Decompte">
                <table class="table table-striped" style="overflow-y: hidden;">
                  <thead>
                    <tr>
                      <th colspan="9" class="header-marche-lot-beauty">
                        <div class="header-content-beauty">
                          <span class="label">Numéro Marché :</span> 
                          <span class="value">{{ numMarche }}</span> 
                          <span class="separator">|</span> 
                          <span class="label">Numéro Etape :</span> 
                          <span class="value">{{ numEtape }}</span>
                        </div>
                      </th>
                    </tr>
                    <tr *ngIf="!decomptes.errors?.['auMoinsUnDecompte']">
                      <th scope="col">#</th>
                      <th scope="col" >N° Decompte</th>
                      <th scope="col">Date Piéce</th>
                      <th scope="col">Liquidation</th>
                      <th scope="col">Montant Decompte</th> 
                      <th scope="col">Status financier</th> 
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let decompte of decomptes.controls; let i = index" [formGroupName]="i" class="text-center">
                      <td>
                        <mat-checkbox formControlName="selected"  *ngIf="decompte.get('isNew').value == false"
                          (change)="onCheckboxChange(i,$event.checked)"></mat-checkbox>
                      </td>
                      <td >
                        <mat-form-field appearance="outline" style="height: 7%; width: 200px;" >
                          <mat-label>N° Décompte</mat-label>
                          <input matInput formControlName="numDecompte" type="number" readonly >
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field appearance="outline" style="height: 7%; width: 600px;" >
                          <mat-label>Date Piéce</mat-label>
                          <input matInput [matDatepicker]="pickerdatePiece" formControlName="datePiece"  >
                          <mat-datepicker-toggle matIconSuffix [for]="pickerdatePiece"></mat-datepicker-toggle>
                          <mat-datepicker #pickerdatePiece></mat-datepicker>
                          <mat-error *ngIf="decompte.get('datePiece').hasError('required') && decompte.get('datePiece').touched">
                            La date est obligatoire.
                          </mat-error>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-slide-toggle style="margin-block: 17px;" formControlName="soldeAvance">
                          Liquidation Avance
                        </mat-slide-toggle>
                      </td>
                      <td>
                        <mat-form-field appearance="outline" style="height: 7%; width: 400px;">
                          <mat-label>Montant Décompte</mat-label>
                          <input
                            matInput
                            disabled
                            [value]="typeDecompte === 3 
                              ? formatNombre(decompte.get('decAvance')?.value) 
                              : formatNombre(decompte.get('decImposable')?.value)" />
                        </mat-form-field>
                      </td>
                      
                      <td>
                        <i *ngIf="statuses[i] === 'REC'" class="fa fa-check-circle" style="font-size: 36px; color: green;" matTooltip="Validé par le financier"></i>
                        <i *ngIf="statuses[i] === 'DVD'" class="fa fa-times-circle" style="font-size: 36px; color: red;" matTooltip="Rejeté par le financier"></i>
                        <i *ngIf="statuses[i] === 'CRE'" class="fa fa-spinner" style="font-size: 36px; color: orange;" matTooltip="En cours de traitement par le financier"></i>
                        <i *ngIf="statuses[i] === 'Statut non trouvé'" class="fa fa-question-circle" style="font-size: 36px; color: gray;" matTooltip="Statut viérge prét à etre envoyer au financier"></i>
                      </td>
                      <td>
                        <button mat-raised-button color="warn" style="width: 100px; margin-block: 10px;" type="button"
                        [matTooltip]="i < decomptes.length - 1 ? 'Vous devez supprimer le dernier Décompte pour supprimer celui-ci.' : ''"
                        matTooltipPosition="left"
                        (click)="i < decomptes.length - 1 ? null : openConfirmDeleteDecompteDialog(i)">
                          <mat-icon style="margin-left: 10px;">delete</mat-icon>
                        </button>
                      </td>
                    </tr>
                    <div *ngIf="decomptes.errors?.['auMoinsUnDecompte']" class="alert-custom">
                      <mat-icon class="alert-icon" aria-hidden="false" matTooltip="Erreur: Au moins un decompte est requis.">warning</mat-icon>
                      <span class="alert-message">
                        Vous devez créer au moins un decompte  pour que le button Soumettre Décompte soit activé .
                      </span>
                    </div>
                  </tbody>
                </table>
              </div>
            </mat-card-content>
            <br />
            <br />
          </mat-card>
        </mat-tab>
      </mat-tab-group>
      <div class="button-container">
        <button matTooltip="جدول التعهدات"  matTooltipPosition="above"  style="margin-left: 5px;height: 49px;" mat-raised-button color="primary" [disabled]="isAnyDecompteNew() || !isAnyChecked() || !isAnyDecompteSelected() " (click)="generateTabEngagement()">Tableau des engagements</button>
        <button matTooltip="تقرير الخدمات المنجزة"  matTooltipPosition="above" style="margin-left: 5px;height: 49px;" mat-raised-button color="primary" [disabled]="isAnyDecompteNew() || !isAnyChecked() || typeDecompte === 3 || typeDecompte === 4 || !isAnyDecompteSelected() " (click)="generatePrestaRealise()">Rapport des prestations réalisées</button>
        <!-- <button matTooltip="شهادة الدفع لمصلحة الشؤون المالية"  matTooltipPosition="above" style="margin-left: 5px;height: 49px;" mat-raised-button color="primary"  [disabled]="isAnyDecompteNew() || !isAnyChecked() || !isAnyDecompteSelected() " (click)="generateAttesdePaiementDirectAffaire()">Attestation de paiement de la direction des affaires financières</button> -->
        <button matTooltip="شهادة للدفع"  matTooltipPosition="above" style="margin-left: 5px;height: 49px;" mat-raised-button color="primary" [disabled]="isAnyDecompteNew() || !isAnyChecked() || !isAnyDecompteSelected()" (click)="generateAttesdePaiement()">Attestation de paiement</button>
        <button matTooltip="{{ (typeDecompte !== 3 )   ? 'كشف حساب وقتي' : 'كشف تسبقة'}}"  matTooltipPosition="above" style="margin-left: 5px;height: 49px;" mat-raised-button color="primary" [disabled]="isAnyDecompteNew() || !isAnyChecked() || !isAnyDecompteSelected() "   
        (click)=
        "typeDecompte === 1 ? generateDecompteProvisoire() :
        typeDecompte === 2 ? generateNetDernDecompte() :
        typeDecompte === 3 ? generateAvanceDecompte() :
        typeDecompte === 4 ? generateLrgDecompte() : null">
          {{ (typeDecompte !== 3) ? 'Relevé de décompte provisoire' : 'Relevé d\'avance' }}</button>
          <button matTooltip="محضر الخدمات المنجزة"  matTooltipPosition="above" style="margin-left: 5px;height: 49px;" mat-raised-button color="primary" [disabled]="isAnyDecompteNew() || !isAnyChecked() || !isAnyDecompteSelected() || typeDecompte === 2 || typeDecompte === 4 || typeDecompte === 6 " (click)="generateProcesVerbaux()">Procès-verbaux des prestations réalisées</button>
          <button matTooltip="Envoie décompte au financier"  matTooltipPosition="above" style="margin-left: 5px;height: 49px;" mat-raised-button color="primary" [disabled]="isButtonSendDecToFin || !isAnyChecked() || !isAnyDecompteSelected() "    (click)="openConfirmEnvoieDecompteAuFin()">
            Envoie décompte au financier</button>
        
      </div>
    </form>
  </mat-dialog-content>
  
  <mat-dialog-actions class="fixed-dialog-actions">
    <div class="button-container">
      <button mat-raised-button (click)="onNoClick()">Fermer</button>
      <button mat-raised-button color="primary" style="width: 305px;" [disabled]="isSubmitDisabled()" (click)="openConfirmDecompteDialog()">Soumettre Decompte</button>
      <button mat-raised-button style="width: 40%; background-color: #4c9baf; color: white;"
      *ngIf="isAnyChecked() && typeDecompte !== 4 && !isSubmitDisabled() && isAnyDecompteSelected()" (click)="GestionArticlesTravauxAppro()">
      {{ typeDecompte === 3 ? 'Gestion des pénalités et retenus' : 'Gestion des articles Travaux / Appro' }}
    </button>
    </div>
  </mat-dialog-actions>
  