<mat-dialog-content>
 
  <h2 mat-dialog-title>Gestion des Articles Travaux / Appro</h2>
  <div class="overlay" *ngIf="(_spinnerService.spinnerCounter$ | async) > 0">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="error-message" *ngIf="loadingError">
    {{ loadingError }}
  </div>

  <form [formGroup]="decompteArticleForm">

    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedIndexChange)="selectedIndexChange($event)"
      [selectedIndex]="selectedIndex" #matGroup>

      <mat-tab label="Rubrique Articles Travaux" [disabled]="typeDecompte === 3">
        <mat-card appearance="outlined" >
          <mat-card-header>
            <mat-card-title>Articles Travaux
            </mat-card-title>
          </mat-card-header>
          <br>
          <mat-card-content>
            <div formArrayName="DecArticlesTravaux" class="table-responsive-article-travaux">
              <table class="table table-striped" style="overflow-y: hidden;">
                <thead>
                  <tr>
                    <th colspan="11" class="text-center" style="padding-right: 70px;">Marche: {{ numMarche }} - Etape:
                      {{ numEtape }} </th>
                  </tr>
                  <tr>
                    <th colspan="11" class="text-center">
                      <div class="lot-select-container">
                        <mat-label style="margin-right: 10px;">Lots</mat-label>
                        <mat-select [(value)]="selectedLotTravaux" style="width: 50%;"
                          [placeholder]="'Sélectionner un lot'" (selectionChange)="onSelectLotTravauxPagin($event)" [disabled]="typeDecompte === 3">
                          <mat-option *ngFor="let lot of lotDesignations" [value]="lot.idLot">
                            {{ lot.idLot }} - {{ lot.designation }}
                          </mat-option>
                          <mat-option *ngIf="isLoading" disabled>
                            <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
                          </mat-option>
                        </mat-select>
                        <button mat-icon-button (click)="resetSelectionTravaux()">
                          <mat-icon>refresh</mat-icon>
                        </button>
                      </div>
                    </th>
                  </tr>
                  <tr *ngIf="!decompteArticleForm.get('DecArticlesTravaux').errors?.['TravauxVide']">
                    <th scope="col">Article</th>
                    <th scope="col">Code Article</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Unité</th>
                    <th scope="col">Quantité Marche</th>
                    <th scope="col">Quantité précédente</th>
                    <th scope="col">Prix Unitaire</th>
                    <th scope="col">TVA</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Pourcentage de réalisation</th>
                    <th scope="col">Prix final</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let decArticleTravaux of decArticlesTravaux ; let i = index" [formGroupName]="i"
                    class="text-center">
                    <td>
                      <mat-form-field appearance="outline" class="full-width"
                        style="width: 73px;margin-inline-start: -2px;">
                        <mat-label>Article</mat-label>
                        <input matInput formControlName="idArticle" readonly />
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field appearance="outline" class="full-width" style="width: 150px;margin-inline-start: -2px;">
                        <mat-label>Code Article</mat-label>
                        <input matInput formControlName="codeArticle" readonly />
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field appearance="outline" class="full-width"
                        style="width: 530px;margin-inline-start: -2px;">
                        <mat-label>Désignation</mat-label>
                        <input matInput formControlName="designationFr" readonly />
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field appearance="outline" class="full-width" style="width: 70px;">
                        <mat-label>Unité</mat-label>
                        <input matInput formControlName="libUnite" readonly />
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field appearance="outline" class="full-width" style="width: 140px;">
                        <mat-label>Quantité Marche</mat-label>
                        <input matInput formControlName="quantiteMrc" readonly />
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field appearance="outline" class="full-width" style="width: 100px;">
                        <mat-label>Quantité Précédente</mat-label>
                        <input matInput formControlName="quantitePrec" readonly />
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field appearance="outline" class="full-width" style="width: 120px;">
                        <mat-label>Prix Unitaire</mat-label>
                        <input matInput formControlName="prixUnitaire" readonly />
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field appearance="outline" class="full-width" style="width: 80px;">
                        <mat-label>TVA</mat-label>
                        <input matInput formControlName="tva" [readonly]="isReadOnly" placeholder="TVA" />
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field appearance="outline" class="full-width" style="width: 130px;">
                        <mat-label>Quantité</mat-label>
                        <input matInput formControlName="quantite" [readonly]="isReadOnly" placeholder="Quantité" />
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field appearance="outline" class="full-width" style="width: 200px;">
                        <mat-label>Pourcentage de réalisation</mat-label>
                        <input matInput formControlName="pctRea" [readonly]="isReadOnly"
                          placeholder="Pourcentage de réalisation" />
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field appearance="outline" class="full-width" style="width: 120px;">
                        <mat-label>Prix final</mat-label>
                        <input matInput formControlName="travHtRea" />
                      </mat-form-field>
                    </td>
                  </tr>
                  <div
                    *ngIf="decompteArticleForm.get('DecArticlesTravaux').errors?.['TravauxVide'] && selectedLotTravaux"
                    class="alert alert-danger" style="width: 2000px;">
                    La liste des articles Travaux est vide.
                  </div>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
        <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 10px;">
          <button mat-button (click)="firstPageTravaux()" [disabled]="currentPageTravaux === 0">⏮️ Première page</button>
          <button mat-button (click)="prevPageTravaux()" [disabled]="currentPageTravaux === 0">⬅️ Précédent</button>
          <span>Page {{ currentPageTravaux + 1 }} / {{ totalPagesTravaux }}</span>
          <button mat-button (click)="nextPageTravaux()" [disabled]="(currentPageTravaux + 1) >= totalPagesTravaux">Suivant ➡️</button>
          <button mat-button (click)="lastPageTravaux()" [disabled]="(currentPageTravaux + 1) >= totalPagesTravaux">⏭️ Dernière page</button>
        </div>
        <div class="totals-container">
          <div class="totals-item">
            <mat-card class="totals-card primary-color-card">
              <mat-card-content>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Pourcentage de réduction (%)</mat-label>
                  <input matInput readonly [value]="pctRemise">
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>
        
          <div class="totals-item">
            <mat-card class="totals-card primary-color-card">
              <mat-card-content>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Montant sans calcul de TVA</mat-label>
                  <input matInput readonly [value]="decTravauxHT">
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>
        
          <div class="totals-item">
            <mat-card class="totals-card primary-color-card">
              <mat-card-content>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Montant du TVA</mat-label>
                  <input matInput readonly [value]="decTravauxTVA">
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>
        
          <div class="totals-item">
            <mat-card class="totals-card primary-color-card">
              <mat-card-content>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Montant avec calcul de TVA</mat-label>
                  <input matInput readonly [value]="decTravauxTTC">
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-tab>
 
      <mat-tab label="Rubrique Articles Appro" [disabled]="typeDecompte === 3">
        <br>
        <mat-card appearance="outlined" >
          <mat-card-header>
            <mat-card-title>Articles Appro
            </mat-card-title>
          </mat-card-header>
          <br>
          <mat-card-content>
            <div formArrayName="DecArticlesAppros" class="table-responsive-article-appro">
              <table class="table table-striped" style="overflow-y: hidden;">
                <thead>
                  <tr>
                    <th colspan="11" class="text-center" style="padding-right: 70px;">Marche: {{ numMarche }} - Etape:
                      {{ numEtape }} </th>
                  </tr>
                  <tr>
                    <th colspan="11" class="text-center">
                      <div class="lot-select-container">
                        <mat-label style="margin-right: 10px;">Lots</mat-label>
                        <mat-select [(value)]="selectedLotAppro" style="width: 50%;"
                          [placeholder]="'Sélectionner un lot'" (selectionChange)="onSelectLotApproPagin($event)" [disabled]="typeDecompte === 3">
                          <mat-option *ngFor="let lot of lotDesignations" [value]="lot.idLot">
                            {{ lot.idLot }} - {{ lot.designation }}
                          </mat-option>
                          <mat-option *ngIf="isLoading" disabled>
                            <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
                          </mat-option>
                        </mat-select>
                        <button mat-icon-button (click)="resetSelectionAppro()">
                          <mat-icon>refresh</mat-icon>
                        </button>
                      </div>
                    </th>
                  </tr>
                  <tr *ngIf="!decompteArticleForm.get('DecArticlesAppros').errors?.['ApproVide']">
                    <th scope="col">Article</th>
                    <th scope="col">Code Article</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Unité</th>
                    <th scope="col">Quantité Marche</th>
                    <th scope="col">Quantité précédente</th>
                    <th scope="col">Prix Unitaire</th>
                    <th scope="col">TVA</th>
                    <th scope="col">Quantité</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let decArticleAppro of decArticlesAppros; let i = index" class="text-center"
                    [formGroupName]="i">
                    <td>
                      <mat-form-field appearance="outline" class="full-width"
                        style="width: 73px;margin-inline-start: -2px;">
                        <mat-label>Article</mat-label>
                        <input matInput formControlName="idArticle" readonly />
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field appearance="outline" class="full-width" style="width: 150px;margin-inline-start: -2px;">
                        <mat-label>Code Article</mat-label>
                        <input matInput formControlName="codeArticle" readonly />
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field appearance="outline" class="full-width"
                        style="width: 832px;margin-inline-start: -2px;">
                        <mat-label>Désignation</mat-label>
                        <input matInput formControlName="designationFr" readonly />
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field appearance="outline" class="full-width" style="width: 70px;">
                        <mat-label>Unité</mat-label>
                        <input matInput formControlName="libUnite" readonly />
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field appearance="outline" class="full-width" style="width: 140px;">
                        <mat-label>Quantité Marche</mat-label>
                        <input matInput formControlName="quantiteMrc" readonly />
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field appearance="outline" class="full-width" style="width: 150px;">
                        <mat-label>Quantité Précédente</mat-label>
                        <input matInput formControlName="quantitePrec" readonly />
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field appearance="outline" class="full-width" style="width: 120px;">
                        <mat-label>Prix Unitaire</mat-label>
                        <input matInput formControlName="prixUnitaire" readonly />
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field appearance="outline" class="full-width" style="width: 80px;">
                        <mat-label>TVA</mat-label>
                        <input matInput formControlName="tva" [readonly]="isReadOnly" placeholder="TVA" />
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field appearance="outline" class="full-width" style="width: 130px;">
                        <mat-label>Quantité</mat-label>
                        <input matInput formControlName="quantite" [readonly]="isReadOnly" />
                      </mat-form-field>
                    </td>
                  </tr>
                  <div *ngIf="decompteArticleForm.get('DecArticlesAppros').errors?.['ApproVide'] && selectedLotAppro"
                    class="alert alert-danger" style="width: 2000px;">
                    La liste des articles Appro est vide.
                  </div>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
        <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 10px;">
          <button mat-button (click)="firstPageAppro()" [disabled]="currentPageAppro === 0">⏮️ Première page</button>
          <button mat-button (click)="prevPageAppro()" [disabled]="currentPageAppro === 0">⬅️ Précédent</button>
          <span>Page {{ currentPageAppro + 1 }} / {{ totalPagesAppro }}</span>
          <button mat-button (click)="nextPageAppro()" [disabled]="(currentPageAppro + 1) >= totalPagesAppro">Suivant ➡️</button>
          <button mat-button (click)="lastPageAppro()" [disabled]="(currentPageAppro + 1) >= totalPagesAppro">⏭️ Dernière page</button>
        </div>
        <div class="totals-container">
          <div class="totals-item">
            <mat-card class="totals-card primary-color-card">
              <mat-card-content>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Montant du TVA</mat-label>
                  <input matInput readonly [value]="decApproTVA">
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>
        
          <div class="totals-item">
            <mat-card class="totals-card primary-color-card">
              <mat-card-content>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Montant sans calcul de TVA</mat-label>
                  <input matInput readonly [value]="decApproHT">
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>
        
          <div class="totals-item">
            <mat-card class="totals-card primary-color-card">
              <mat-card-content>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Montant avec calcul de TVA</mat-label>
                  <input matInput readonly [value]="decApproTTC">
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>
        
          <div class="totals-item">
            <mat-card class="totals-card primary-color-card">
              <mat-card-content>
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Prix du TVA</mat-label>
                  <input matInput readonly [value]="decAppro">
                </mat-form-field>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        
      </mat-tab> 

       <mat-tab label="Rubrique Pénalité et Retenue"> 
        <mat-card appearance="outlined">
          <mat-card-header>
            <mat-card-title style="font-size: large; font-weight: bold; color: #333;">Pénalité et Retenue</mat-card-title>
          </mat-card-header>         
            <mat-card-content>
              <mat-form-field appearance="outline" class="form-field" style="width: 100%;">
                <mat-label>Frais d'enregistrement</mat-label>
                <input matInput type="number" formControlName="decFraisEnrg" />
              </mat-form-field>
      
              <mat-form-field appearance="outline" class="form-field" style="width: 100%;">
                <mat-label>Autre montant</mat-label>
                <input matInput type="number" formControlName="decAutreMnt" />
              </mat-form-field>
            </mat-card-content>
        </mat-card>

         <mat-card appearance="outlined" >
          <mat-card-content>
            <mat-label style="font-size: large; font-weight: bold; color: #333;height: 200px;">Exonération de pénalité de retard
              <mat-radio-group aria-label="Select an option" formControlName="exonerationType">
                <mat-radio-button style="font-size: large;color: #555;" [value]="0">Sans</mat-radio-button>
                <mat-radio-button style="font-size: large;color: #555;" [value]="1">Avec</mat-radio-button>
              </mat-radio-group>
            </mat-label>
        
            <div style="display: flex; align-items: center; gap: 16px; flex-wrap: wrap;">
            
              <mat-form-field appearance="outline" class="form-field" style="flex: 1; min-width: 250px;">
                <mat-label>Type d'exonération de pénalité</mat-label>
                <input matInput type="text" formControlName="designationExPen" />
              </mat-form-field>
        
              <mat-form-field appearance="outline" class="form-field" style="flex: 1; min-width: 250px;">
                <mat-label>Montant d'exonération de pénalité</mat-label>
                <input matInput type="number" formControlName="mntExPen" />
              </mat-form-field>
        
              <mat-form-field appearance="outline" class="form-field" style="flex: 1; min-width: 250px;">
                <mat-label>Date Pénalité</mat-label>
                <input matInput [matDatepicker]="pickerdatePen" formControlName="dateExPen">
                <mat-datepicker-toggle matIconSuffix [for]="pickerdatePen"></mat-datepicker-toggle>
                <mat-datepicker #pickerdatePen></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-field" style="flex: 1; min-width: 1411px;">
                <mat-label>Remarques</mat-label>
                <textarea matInput formControlName="remarqueDec" placeholder="Remarques"></textarea>
              </mat-form-field>
            </div>
        
           
          </mat-card-content>
        </mat-card> 
        
      </mat-tab> 
      
    </mat-tab-group>
  </form>
</mat-dialog-content> 

<mat-dialog-actions class="dialog-actions">
  <div class="button-container">
    <button mat-raised-button (click)="onNoClick()">Fermer</button>
    <button mat-raised-button color="primary" style="width: 445px;"
    [disabled]="isButtonDecompteDisabled"
    (click)="onSubmitDecArticles()"> 
    {{ buttonLabel }}
    </button>
  </div>
</mat-dialog-actions>