<mat-toolbar class="custom-toolbar">
  <button
    mat-icon-button
    class="neumorphic-button example-icon"
    aria-label="Toggle Sidebar"
    (click)="toggleSidebar()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  &nbsp;
  <span>
    <img
      src="/assets/afhlogo.jpg"
      alt=""
      style="border-radius: 50%; object-fit: cover; width: 80px; height: 60px"
    />
  </span>
  <span class="example-spacer"></span>
  &nbsp;

  <button
    mat-button
    [matMenuTriggerFor]="matriculeMenu"
    style="color: aliceblue; width: 300px"
  >
    <span *ngIf="prenom && nom">{{ prenom }} {{ nom }}</span>
    <mat-icon>more_vert</mat-icon>
  </button>

  <!-- Bouton Notifications avec badge et menu -->
  <button
    mat-icon-button
    [matMenuTriggerFor]="notificationsMenu"
    aria-label="Notifications"
    class="notification-button"
    [matBadge]="notificationsList.length"
    matBadgeColor="warn"
    matBadgeOverlap="false"
    matBadgeSize="medium"
  >
    <mat-icon class="notification-icon">mail</mat-icon>
  </button>

  <!-- Menu pour notifications -->
  <mat-menu #notificationsMenu="matMenu">
    <button
      mat-menu-item
      *ngFor="let notif of notificationsList"
      (click)="onNotificationClick(notif.matricule)">
      {{ notif.count }} message{{ notif.count > 1 ? 's' : '' }} de <strong>{{ notif.displayName }}</strong>
    </button>
    
    <button mat-menu-item disabled *ngIf="notificationsList.length === 0">
      Aucun nouveau message
    </button>
  </mat-menu>
  
  

  <!-- Menu pour profil / déconnexion -->
  <mat-menu #matriculeMenu="matMenu">
    <button mat-menu-item (click)="getUserDetails()">Mon Profil</button>
    <button mat-menu-item (click)="logout()">Déconnexion</button>
  </mat-menu>
</mat-toolbar>
