.table-responsive-marche-ordre-service {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 500px;
}


.mat-dialog-title {
    text-align: center; /* Centrer le titre */
  }

  .mat-dialog-content {
    display: flex;
    flex-direction: column; /* Colonne pour empiler le contenu */
    align-items: stretch; /* Étendre les éléments */
    padding: 16px; /* Espacement interne */
    overflow: hidden;
    height: 200px;
  }

  .button-container {
    display: flex;
    justify-content: center; /* Centre les boutons horizontalement */
    gap: 20px; /* Espace entre les boutons */
    margin-left: 620px;
    //padding: 10px 0;
    //margin: 0px 300px 0px 290px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; 
  }
  
  .spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.3em;
    border-radius: 50%;
    border-top-color: transparent;
    border-right-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-left-color: #007bff;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .error-message {
    color: red;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    overflow: hidden;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 9999; 
  }

 

  .table th {
    padding: 4px; /* Adjust this value as needed */
    margin: 0; /* Ensure there's no margin */
    text-align: center; /* Optional: center the text */
    font-size: 14px; /* Adjust font size if needed */
  }


  .large-select {
    width: 100%; /* Remplir la largeur disponible */
  }

  .scrollable-options {
    max-height: 250px; // Ajustez la hauteur selon vos besoins
    overflow-y: auto;
    overflow-x: hidden;
  }

  ::ng-deep .mat-select-search-clear {
    display: none;
  }

  .centered-table {
    margin: 0 auto;  /* Centrer horizontalement */
    width: 90%;      /* Optionnel : ajustez selon la largeur souhaitée */
    max-width: 2000px; /* Optionnel : limite la largeur max du tableau */
  }


  .article-icon {
    color: #3f51b5; /* Utilisez une couleur de votre choix */
  }

  .designation {
    font-style: italic;
    font-size: small;
    color: #555;
    //white-space: nowrap;         /* Empêche le texte de se diviser sur plusieurs lignes */
    overflow-x: hidden;            /* Cache le texte qui dépasse */
    max-width: 600px;            /* Limite la largeur maximale de l'élément (ajustez cette valeur selon vos besoins) */
    //text-overflow: ellipsis;
  }

  .num-article {
    font-weight: bold;   /* Rendre le texte en gras */
    color: #333;         /* Vous pouvez ajouter ou ajuster la couleur si nécessaire */
  }
  